body {
  margin: 0;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}
@import 'common/greating';
@import 'common/slider';
@import 'common/content';
@import 'common/footer';
@import 'common/card';
@import 'common/about';
@import 'common/catalog';
@import 'common/contacts';
@import 'common/present_1';
@import 'common/agreement';
@import 'common/pay';
@import 'common/news';
@import 'common/auth';