.card_catalog
	.card__pic_catalog
		img.card__pic-img_catalog(src="assets/img/presents/14-736(400)2.png")
	.card__info_catalog
		.card__header Цыпленок
		.card__text_catalog Сладкий новогодний подарок, который порадует малышей и взрослых своим сбалансированным и оригинальным составом. Шоколадные конфеты, желейные, сосательные на палочке, шоколадные батончики и другие сладости не оставят никого равнодушными. В подарке представлены конфеты кондитерских компаний Рошен и АВК, всего 24 конфеты.
	.card__price_catalog
		.card__price 32.30 грн
		.card__art_catalog 14-736(400)
		.card__art_catalog 300 г
		.card__btn_catalog
			.card__btn-1
				a.card__btn-1-link(href="present_23.html") Подробнее