.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img#img-height(src="assets/img/presents/19.png")
	.card__info
		.card__header Цыпленок
		.card__price 32.30 грн
		.card__art артикул 779
		.card__art 300 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_23.html") Подробнее