.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img#img-height(src="assets/img/presents/9.png")
	.card__info
		.card__header Сани
		.card__price 86.50 грн
		.card__art артикул 722
		.card__art 720 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_9_1.html") Подробнее