.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img#img-height(src="assets/img/presents/16.png")
	.card__info
		.card__header Санта
		.card__price 62.00 грн
		.card__art артикул 754
		.card__art 460 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_26.html") Подробнее