.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img#img-height(src="assets/img/presents/19-774(200).png")
	.card__info
		.card__header Петушок 4
		.card__price 30 грн
		.card__art артикул 19-774(200)
		.card__art 200 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_32.html") Подробнее