.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img#img-height(src="assets/img/presents/13.png")
	.card__info
		.card__header Оленчик
		.card__price 57.45 грн
		.card__art артикул 735
		.card__art 420 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_21.html") Подробнее