.card_catalog
	.card__pic_catalog
		img.card__pic-img_catalog(src="assets/img/presents/10-739(600)1.png")
	.card__info_catalog
		.card__header Олененок
		.card__text_catalog Сладкий новогодний подарок, который порадует малышей и взрослых своим сбалансированным и оригинальным составом. Шоколадные конфеты, желейные, сосательные на палочке, шоколадные батончики и другие сладости не оставят никого равнодушными. В подарке представлены конфеты кондитерских компаний Рошен и АВК, всего 53 конфеты.
	.card__price_catalog
		.card__price 61.75 грн
		.card__art_catalog 10-739(600)
		.card__art_catalog 610 г
		.card__btn_catalog
			.card__btn-1
				a.card__btn-1-link(href="present_13.html") Подробнее