.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img(src="assets/img/presents/2-706(1200).png")
	.card__info
		.card__header Паровоз-пакет
		.card__price 150 грн
		.card__art артикул 2-706(1200)
		.card__art 1205 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_2.html") Подробнее