.card_present#card_present
	.card__upper.clearfix
		.card__pic_present
			.card__block
				.card__block-left
				.card__block-right
			img.card__pic-img_present(src="assets/img/presents/11-724(800)2.png")
			.card__btn_present#increase
				img.card__btn-img(src="assets/img/10.png")
		.card__info_present
			.card__header_present Новогодний эльф
			table.card__table
				tr.card__row
					td Цена
					td
						span 75.90 грн
				tr
					td Артикул
					td 11-724(800)
				tr.card__row
					td Вес
					td 805 г
				tr
					td Производитель
					td Roshen, АВК, Доминик
				tr
					td Кол-во конфет 
					td 61 штука
	.card__menu
		ul.card__menu-list
			li.card__menu-item
				a.card__menu-link(href="#desc") Описание
			li.card__menu-item
				a.card__menu-link(href="#cons") Состав
	.card__main
		.card__main-inner#desc
			.card__text_present Сладкий новогодний подарок в симпатичной упаковке обязательно порадует деток и взрослых. В состав входят желейные, шоколадные конфеты, суфле, леденцы АВК, Рошен, Доминик. Всего 61 конфета. 
		.card__main-inner#cons
			table.card__main-table
				tr
					th Изображение
					th Описание
					th Количество, шт
				tr
					td.candy
						img.card__main-img(src="assets/img/8.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/8.jpg")
					td
						.card__main-td-header Шампанское
						.card__main-td-info Конфеты Рошен "Шампанское" шоколадный трюфель
					td 1
				tr
					td.candy
						img.card__main-img(src="assets/img/11.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/11.jpg")
					td
						.card__main-td-header Коровка
						.card__main-td-info Сливочная Коровка Рошен с аппетитной тягучей начинкой
					td 7
				tr
					td.candy
						img.card__main-img(src="assets/img/14.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/14.jpg")
					td
						.card__main-td-header Ромашка
						.card__main-td-info Классические шоколадные конфеты Рошен
					td 3
				tr
					td.candy
						img.card__main-img(src="assets/img/16.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/16.jpg")
					td
						.card__main-td-header Джелли
						.card__main-td-info Желейные конфеты Рошен
					td 7
				tr
					td.candy
						img.card__main-img(src="assets/img/32.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/32.jpg")
					td
						.card__main-td-header Intento
						.card__main-td-info Шоколадные конфеты АВК
					td 5
				tr
					td.candy
						img.card__main-img(src="assets/img/22.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/22.jpg")
					td
						.card__main-td-header Sheridan ореховый
						.card__main-td-info Шоколадные конфеты АВК с ореховой начинкой
					td 5
				tr
					td.candy
						img.card__main-img(src="assets/img/23.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/23.jpg")
					td
						.card__main-td-header Sheridan шоколад
						.card__main-td-info Шоколадные конфеты АВК с шоколадной начинкой
					td 5
				tr
					td.candy
						img.card__main-img(src="assets/img/33.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/33.jpg")
					td
						.card__main-td-header Франческа
						.card__main-td-info Конфеты АВК с кокосовой стружкой
					td 3
				tr
					td.candy
						img.card__main-img(src="assets/img/24.jpeg")
						.candy__show
							img.candy__show-img(src="assets/img/24.jpeg")
					td
						.card__main-td-header Florens
						.card__main-td-info Шоколадные конфеты АВК с кремовой начинкой
					td 2			
				tr
					td.candy
						img.card__main-img(src="assets/img/34.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/34.jpg")
					td
						.card__main-td-header Dessert cherry
						.card__main-td-info Шоколадные конфеты Рошен с фруктовой начинкой
					td 3
				tr
					td.candy
						img.card__main-img(src="assets/img/35.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/35.jpg")
					td
						.card__main-td-header Крем суфле
						.card__main-td-info Желейные конфеты Доминик с фруктовой начинкой
					td 4
				tr
					td.candy
						img.card__main-img(src="assets/img/37.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/37.jpg")
					td
						.card__main-td-header Николь
						.card__main-td-info Шоколадные конфеты Рошен
					td 2
				tr
					td.candy
						img.card__main-img(src="assets/img/38.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/38.jpg")
					td
						.card__main-td-header Мирель
						.card__main-td-info Шоколадные конфеты АВК
					td 2		
				tr
					td.candy
						img.card__main-img(src="assets/img/39.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/39.jpg")
					td
						.card__main-td-header Коровкина забавка молочная
						.card__main-td-info Конфеты Доминик вафельные в шоколадной глазури
					td 2
				tr
					td.candy
						img.card__main-img(src="assets/img/40.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/40.jpg")
					td
						.card__main-td-header Коровкина забавка шоколадная
						.card__main-td-info Конфеты Доминик вафельные в шоколадной глазури
					td 2
				tr
					td.candy
						img.card__main-img(src="assets/img/41.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/41.jpg")
					td
						.card__main-td-header Ирис
						.card__main-td-info Конфеты Доминик ириски
					td 7
				tr
					td.candy
						img.card__main-img(src="assets/img/43.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/43.jpg")
					td
						.card__main-td-header Птичье молоко
						.card__main-td-info Конфеты Доминик суфле в шоколадной глазури
					td 1