.card_catalog
	.card__pic_catalog
		img.card__pic-img_catalog(src="assets/img/presents/7-715.png")
	.card__info_catalog
		.card__header Мишка
		.card__text_catalog Оригинальный сладкий новогодний подарок, который отлично подойдет для поздравления коллег и близких. Красивая упаковка делает подарок элегантным и привлекательным, а отменные конфеты дарят незабываемые ощущения и наслаждение. В подарке Вы найдете конфеты от кондитерских компаний АВК и Рошен.
	.card__price_catalog
		.card__price  75.15 грн
		.card__art_catalog 7-715
		.card__art_catalog 715 г
		.card__btn_catalog
			.card__btn-1
				a.card__btn-1-link(href="present_7_2.html") Подробнее