.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img#img-height(src="assets/img/presents/11-724(800).png")
	.card__info
		.card__header Малыш под елочкой
		.card__price 30 грн
		.card__art артикул 11-724(800)
		.card__art 800 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_14.html") Подробнее