.card_catalog
	.card__pic_catalog
		img.card__pic-img_catalog(src="assets/img/presents/17.png")
	.card__info_catalog
		.card__header Фонарик
		.card__text_catalog Сладкий новогодний подарок, который порадует малышей и взрослых своим сбалансированным и оригинальным составом. Шоколадные конфеты, желейные, сосательные на палочке, шоколадные батончики и другие сладости не оставят никого равнодушными. В подарке представлены конфеты кондитерских компаний Рошен и АВК, всего 33 конфеты.
	.card__price_catalog
		.card__price 53.00 грн
		.card__art_catalog арт. 756
		.card__art_catalog-weight 415 г
		.card__btn_catalog
			.card__btn-1
				a.card__btn-1-link(href="present_28.html") Подробнее