.card_catalog
	.card__pic_catalog
		img.card__pic-img_catalog(src="assets/img/presents/17-7569(400).png")
	.card__info_catalog
		.card__header Дедушка Мороз 5
		.card__text_catalog Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
	.card__price_catalog
		.card__price 30 грн
		.card__art_catalog артикул 17-7569(400)
		.card__art_catalog 400 г
		.card__btn_catalog
			.card__btn-1
				a.card__btn-1-link(href="present_28.html") Подробнее