.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img#img-height(src="assets/img/presents/4-1005(3).png")
	.card__info
		.card__header Домик с сюрпризом
		.card__price 137.80 грн
		.card__art артикул 4-1005
		.card__art 1005 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_7_1.html") Подробнее