.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img#img-height(src="assets/img/presents/17-7569(400).png")
	.card__info
		.card__header Фонарик
		.card__price 48.75 грн
		.card__art артикул 17-7569(400)
		.card__art 415 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_28.html") Подробнее