.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img(src="assets/img/presents/3.png")
	.card__info
		.card__header Сумочка с письмом
		.card__price 155.75 грн
		.card__art артикул 716
		.card__art 1080 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_4.html") Подробнее