.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img#img-height(src="assets/img/presents/11-724(800)1.png")
	.card__info
		.card__header Новогодний подарок
		.card__price 75.90 грн
		.card__art артикул 11-724(800)
		.card__art 805 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_15.html") Подробнее