.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img#img-height(src="assets/img/presents/12-732(600).png")
	.card__info
		.card__header Сумочка с бантом
		.card__price 57.85 грн
		.card__art артикул 12-732(600)
		.card__art 530 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_18.html") Подробнее