.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img#img-height(src="assets/img/presents/4-703(1000).png")
	.card__info
		.card__header Новогодняя коробочка
		.card__price 30 грн
		.card__art артикул 4-703(1000)
		.card__art 1000 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_7.html") Подробнее