.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img#img-height(src="assets/img/presents/18-300.png")
	.card__info
		.card__header Петушок
		.card__price 32.90 грн
		.card__art артикул 18-300
		.card__art 300 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_18_1.html") Подробнее