.card_present#card_present
	.card__upper.clearfix
		.card__pic_present
			.card__block
				.card__block-left
				.card__block-right
			img.card__pic-img_present(src="assets/img/presents/20-779(300).png")
			.card__btn_present#increase
				img.card__btn-img(src="assets/img/10.png")
		.card__info_present
			.card__header_present Санта Клаус
			table.card__table
				tr.card__row
					td Цена
					td
						span 30 грн
				tr
					td Артикул
					td 20-779(300)
				tr.card__row
					td Вес
					td 300 г
				tr
					td Производитель
					td Roshen
				tr.card__row
					td Размер
					td 20 х 20 х 15 см
	.card__menu
		ul.card__menu-list
			li.card__menu-item
				a.card__menu-link(href="#desc") Описание
			li.card__menu-item
				a.card__menu-link(href="#cons") Состав
	.card__main
		.card__main-inner#desc
			.card__text_present Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
				| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
			.card__text_present Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
				| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
		.card__main-inner#cons
			table.card__main-table
				tr
					th Изображение
					th Описание
					th Производитель
					th Количество, шт
				tr
					td.candy
						img.card__main-img(src="assets/img/6.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/6.jpg")
					td
						.card__main-td-header Amour
						.card__main-td-info Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
					td Конти
					td 4 
				tr
					td.candy
						img.card__main-img(src="assets/img/7.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/7.jpg")
					td
						.card__main-td-header Amour
						.card__main-td-info Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
					td Конти
					td 4 
				tr
					td.candy
						img.card__main-img(src="assets/img/8.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/8.jpg")
					td
						.card__main-td-header Amour
						.card__main-td-info Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
					td Конти
					td 4 
				tr
					td.candy
						img.card__main-img(src="assets/img/9.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/9.jpg")
					td
						.card__main-td-header Amour
						.card__main-td-info Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
					td Конти
					td 4 
				tr
					td.candy
						img.card__main-img(src="assets/img/10.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/10.jpg")
					td
						.card__main-td-header Amour
						.card__main-td-info Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
					td Конти
					td 4 
				tr
					td.candy
						img.card__main-img(src="assets/img/11.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/11.jpg")
					td
						.card__main-td-header Amour
						.card__main-td-info Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
					td Конти
					td 4 
				tr
					td.candy
						img.card__main-img(src="assets/img/12.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/12.jpg")
					td
						.card__main-td-header Amour
						.card__main-td-info Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
					td Конти
					td 4 
