.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img#img-height(src="assets/img/presents/7-715.png")
	.card__info
		.card__header Мишка
		.card__price 75.15 грн
		.card__art артикул 7-715
		.card__art 715 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_7_2.html") Подробнее