.card_catalog
	.card__pic_catalog
		img.card__pic-img_catalog(src="assets/img/presents/4.png")
	.card__info_catalog
		.card__header Домик с сюрпризом
		.card__text_catalog Оригинальный сладкий новогодний подарок, который отлично подойдет для поздравления коллег и близких. Красивая упаковка делает подарок элегантным и привлекательным, а отменные конфеты дарят незабываемые ощущения и наслаждение. В подарке Вы найдете конфеты от кондитерских компаний АВК и Рошен.
	.card__price_catalog
		.card__price 265 грн
		.card__art_catalog арт. 703
		.card__art_catalog-weight 1005 г
		.card__btn_catalog
			.card__btn-1
				a.card__btn-1-link(href="present_7_1.html") Подробнее