.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img#img-height(src="assets/img/presents/5-710(800).png")
	.card__info
		.card__header Замок с девочкой
		.card__price 76.95 грн
		.card__art артикул 5-710(800)
		.card__art 835 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_8.html") Подробнее