.card_contacts#contacts
	.card__section-1
		.card__pic_contacts
			img.card__pic-img_contacts(src="assets/img/8.png")
			img.card__pic-img_contacts(src="assets/img/9.png")
		.card__info_contacts
			.card__adress
				.card__header_contacts Наш адрес
				.card__text_catalog 11500, Житомирская обл., г.Коростень, ул. Грушевского, 28
			.card__phone
				.card__header_contacts Наш телефон
				.card__text_catalog +38(04142) 99999
				.card__text_catalog +38(097) 0671887
				.card__text_catalog +38(050) 9999999
	.card__section-2
		.card__map#map_canvas