.card_contacts
	.card__form-container
		.card__form-header Свяжитесь с нами
		form.card__form(method="POST")
			label.card__form-label Ваше имя:
				input.card__form-input(type='text')
			label.card__form-label Электронная почта:
				input.card__form-input(type='text')
			.card__form-label Ваше сообщение:
				textarea.card__form-textarea
			.card__btn-1
				a.card__btn-1-link(href="#") Отправить