.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img(src="assets/img/presents/2.2.png")
	.card__info
		.card__header Паровоз-пакет
		.card__price 163.75 грн
		.card__art артикул 706
		.card__art 1205 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_2.html") Подробнее