.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img#img-height(src="assets/img/presents/15.png")
	.card__info
		.card__header Счастливых праздников
		.card__price 68.60 грн
		.card__art артикул 743
		.card__art 520 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_15_1.html") Подробнее