.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img#img-height(src="assets/img/presents/13.2.png")
	.card__info
		.card__header Дедушка Мороз
		.card__price 67.40 грн
		.card__art артикул 735
		.card__art 520 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_19.html") Подробнее