.card_catalog(ng-repeat="item in contentList.standart | filter: contentList.query | orderBy: contentList.orderProp")
	.card__pic_catalog
		img.card__pic-img_catalog(ng-src="{{item.src}}")
	.card__info_catalog
		.card__header {{item.header}}
		.card__text_catalog {{item.info}}
	.card__price_catalog
		.card__price {{item.price}} грн
		.card__art_catalog артикул {{item.art}}
		.card__art_catalog-weight {{item.weight}} г
		.card__btn_catalog
			.card__btn-1
				a.card__btn-1-link(href="{{item.href}}") Подробнее