.card_catalog
	.card__pic_catalog
		img.card__pic-img_catalog(src="assets/img/presents/5-710(800).png")
	.card__info_catalog
		.card__header Замок "Казкових свят!"
		.card__text_catalog Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
	.card__price_catalog
		.card__price 30 грн
		.card__art_catalog артикул 5-710(800)
		.card__art_catalog 800 г
		.card__btn_catalog
			.card__btn-1
				a.card__btn-1-link(href="present_8.html") Подробнее