.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img#img-height(src="assets/img/presents/20.png")
	.card__info
		.card__header Дед Мороз
		.card__price 29.50 грн
		.card__art артикул 774
		.card__art 200 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_34.html") Подробнее