.card_present#card_present
	.card__upper.clearfix
		.card__pic_present
			.card__block
				.card__block-left
				.card__block-right
			img.card__pic-img_present(src="assets/img/presents/2-706(1200)2.png")
			.card__btn_present#increase
				img.card__btn-img(src="assets/img/10.png")
		.card__info_present
			.card__header_present Петривка-пакет
			table.card__table
				tr.card__row
					td Цена
					td
						span 150 грн
				tr
					td Артикул
					td 2-706(1200)
				tr.card__row
					td Вес
					td 1205 г
				tr
					td Производитель
					td Roshen, АВК
				tr
					td Кол-во конфет 
					td 99 штук
	.card__main
		.card__main-inner#desc
			.card__text_present Сладкий новогодний подарок, который отлично подойдет как для детей, так и для взрослых. Упакован в картонную коробочку с изображением добродушного паровоза. В состав входят конфеты торговых марок Рошен и АВК. Всего в подарке 99 конфет.
		.card__main-inner#cons
			table.card__main-table
				tr
					th Изображение
					th Описание
					th Количество, шт
				tr
					td.candy
						img.card__main-img(src="assets/img/6.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/6.jpg")
					td
						.card__main-td-header Батон
						.card__main-td-info Шоколадный батончик с кремовой начинкой
					td 1 
				tr
					td.candy
						img.card__main-img(src="assets/img/7.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/7.jpg")
					td
						.card__main-td-header Sorrento
						.card__main-td-info Шоколадные конфеты Рошен
					td 4 
				tr
					td.candy
						img.card__main-img(src="assets/img/8.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/8.jpg")
					td
						.card__main-td-header Шампанское
						.card__main-td-info Конфеты Рошен "Шампанское" шоколадный трюфель
					td 3
				tr
					td.candy
						img.card__main-img(src="assets/img/25.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/25.jpg")
					td
						.card__main-td-header Сливки Ленивки
						.card__main-td-info Вафельные конфеты Рошен с шоколадной глазурью
					td 5
				tr
					td.candy
						img.card__main-img(src="assets/img/26.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/26.jpg")
					td
						.card__main-td-header Lolli Pops
						.card__main-td-info Конфеты Рошен леденцы на палочке
					td 3
				tr
					td.candy
						img.card__main-img(src="assets/img/27.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/27.jpg")
					td
						.card__main-td-header Красный мак
						.card__main-td-info Конфеты Рошен шоколадные классические
					td 1
				tr
					td.candy
						img.card__main-img(src="assets/img/9.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/9.jpg")
					td
						.card__main-td-header Minky Binky
						.card__main-td-info Конфеты Рошен с желейными начинками
					td 8
				tr
					td.candy
						img.card__main-img(src="assets/img/10.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/10.jpg")
					td
						.card__main-td-header Grand Toffy
						.card__main-td-info Ароматные мягкие ириски Рошен с разными вкусами
					td 5
				tr
					td.candy
						img.card__main-img(src="assets/img/11.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/11.jpg")
					td
						.card__main-td-header Коровка
						.card__main-td-info Сливочная Коровка Рошен с аппетитной тягучей начинкой
					td 5
				tr
					td.candy
						img.card__main-img(src="assets/img/12.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/12.jpg")
					td
						.card__main-td-header De Luxe
						.card__main-td-info Шоколадные конфеты Рошен с кремовой начинкой
					td 6
				tr
					td.candy
						img.card__main-img(src="assets/img/13.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/13.jpg")
					td
						.card__main-td-header Шоколапки
						.card__main-td-info Шоколадные конфеты Рошен с ореховой начинкой
					td 3
				tr
					td.candy
						img.card__main-img(src="assets/img/14.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/14.jpg")
					td
						.card__main-td-header Ромашка
						.card__main-td-info Классические шоколадные конфеты Рошен
					td 5
				tr
					td.candy
						img.card__main-img(src="assets/img/15.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/15.jpg")
					td
						.card__main-td-header Fudgenta
						.card__main-td-info Молочные конфеты Рошен
					td 7
				tr
					td.candy
						img.card__main-img(src="assets/img/16.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/16.jpg")
					td
						.card__main-td-header Джелли
						.card__main-td-info Желейные конфеты Рошен
					td 7
				tr
					td.candy
						img.card__main-img(src="assets/img/17.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/17.jpg")
					td
						.card__main-td-header Marletka
						.card__main-td-info Вафельные конфеты АВК с ореховой начинкой
					td 6
				tr
					td.candy
						img.card__main-img(src="assets/img/18.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/18.jpg")
					td
						.card__main-td-header Бурундучок
						.card__main-td-info Шоколадные конфеты АВК с ореховой начинкой
					td 4
				tr
					td.candy
						img.card__main-img(src="assets/img/19.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/19.jpg")
					td
						.card__main-td-header Trufalie
						.card__main-td-info Шоколадные кофеты АВК трюфель
					td 2
				tr
					td.candy
						img.card__main-img(src="assets/img/20.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/20.jpg")
					td
						.card__main-td-header Трюфель молочный
						.card__main-td-info Шоколадные конфеты АВК с молочной начинкой
					td 2
				tr
					td.candy
						img.card__main-img(src="assets/img/21.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/21.jpg")
					td
						.card__main-td-header Гулливер
						.card__main-td-info Вафельные конфеты АВК с шоколадной глазурью
					td 1
				tr
					td.candy
						img.card__main-img(src="assets/img/22.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/22.jpg")
					td
						.card__main-td-header Sheridan ореховый
						.card__main-td-info Шоколадные конфеты АВК с ореховой начинкой
					td 5
				tr
					td.candy
						img.card__main-img(src="assets/img/23.jpg")
						.candy__show
							img.candy__show-img(src="assets/img/23.jpg")
					td
						.card__main-td-header Sheridan шоколад
						.card__main-td-info Шоколадные конфеты АВК с шоколадной начинкой
					td 5
				tr
					td.candy
						img.card__main-img(src="assets/img/24.jpeg")
						.candy__show
							img.candy__show-img(src="assets/img/24.jpeg")
					td
						.card__main-td-header Florens
						.card__main-td-info Шоколадные конфеты АВК с кремовой начинкой
					td 5
