.card_catalog
	.card__pic_catalog
		img.card__pic-img_catalog(src="assets/img/presents/2-706(1200)2.png")
	.card__info_catalog
		.card__header Петривка-пакет
		.card__text_catalog Сладкий новогодний подарок, который отлично подойдет как для детей, так и для взрослых. Упакован в картонную коробочку с изображением добродушного паровоза. В состав входят конфеты торговых марок Рошен и АВК. Всего в подарке 99 конфет.
	.card__price_catalog
		.card__price 150 грн
		.card__art_catalog артикул 2-706(1200)
		.card__art_catalog 1205 г
		.card__btn_catalog
			.card__btn-1
				a.card__btn-1-link(href="present_3.html") Подробнее