.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img#img-height(src="assets/img/presents/4.2.png")
	.card__info
		.card__header Петривка
		.card__price 159.50 грн
		.card__art артикул 798
		.card__art 1005 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_7.html") Подробнее