.card_catalog
	.card__pic_catalog
		img.card__pic-img_catalog(src="assets/img/presents/12.png")
	.card__info_catalog
		.card__header Сумочка с бантом
		.card__text_catalog Сладкий новогодний подарок в симпатичной упаковке обязательно порадует деток и взрослых. В состав входят желейные, шоколадные конфеты, суфле, леденцы АВК, Рошен, Доминик. Всего 38 конфет. 
	.card__price_catalog
		.card__price 56.00 грн
		.card__art_catalog арт. 732
		.card__art_catalog-weight 410 г
		.card__btn_catalog
			.card__btn-1
				a.card__btn-1-link(href="present_13.html") Подробнее