.card_catalog
	.card__pic_catalog
		img.card__pic-img_catalog(src="assets/img/presents/11-724(800)3.png")
	.card__info_catalog
		.card__header Дед Мороз
		.card__text_catalog Сладкий новогодний подарок в симпатичной упаковке обязательно порадует деток и взрослых. В состав входят желейные, шоколадные конфеты, суфле, леденцы АВК, Рошен, Доминик. Всего 61 конфета. 
	.card__price_catalog
		.card__price 75.90 грн
		.card__art_catalog 11-724(800)
		.card__art_catalog 805 г
		.card__btn_catalog
			.card__btn-1
				a.card__btn-1-link(href="present_16.html") Подробнее