.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img(src="assets/img/presents/3-716(1000)1.png" width="145")
	.card__info
		.card__header Сумочка с письмом
		.card__price 120 грн
		.card__art артикул 3-716(1000)
		.card__art 1080 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_6.html") Подробнее