.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img#img-height(src="assets/img/presents/16-754(400)2.png")
	.card__info
		.card__header Дедушка Мороз 3
		.card__price 30 грн
		.card__art артикул 16-754(400)
		.card__art 400 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_26.html") Подробнее