.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img#img-height(src="assets/img/presents/7.png")
	.card__info
		.card__header Мишка
		.card__price 68.50 грн
		.card__art артикул 719
		.card__art 610 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_7_3.html") Подробнее