.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img#img-height(src="assets/img/presents/8-721(800).png")
	.card__info
		.card__header Веселых праздников
		.card__price 78.45 грн
		.card__art артикул 8-721(800)
		.card__art 710 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_10.html") Подробнее