.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img(src="assets/img/presents/1-701(1000).png")
	.card__info
		.card__header Ретро
		.card__price 145.30 грн
		.card__art артикул 1-701(1000)
		.card__art 1080 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_1.html") Подробнее