.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img#img-height(src="assets/img/presents/13-735(600)2.png")
	.card__info
		.card__header Новогодний лес
		.card__price 30 грн
		.card__art артикул 13-735(600)
		.card__art 600 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_20.html") Подробнее