.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img(src="assets/img/present.jpg")
	.card__info
		.card__header Подарок новогодний
		.card__price 30 грн
		.card__art артикул 110500
		.card__art 900 г
	.card__btn
		button.card__btn-1 Подробнее