.card_catalog
	.card__pic_catalog
		img.card__pic-img_catalog(src="assets/img/presents/8-721(800).png")
	.card__info_catalog
		.card__header Веселых праздников
		.card__text_catalog Сладкий новогодний подарок в симпатичной упаковке обязательно порадует деток и взрослых. В состав входят желейные, шоколадные конфеты, суфле, леденцы АВК, Рошен, Доминик. Всего 61 конфета. 
	.card__price_catalog
		.card__price  78.45 грн
		.card__art_catalog 8-721(800)
		.card__art_catalog 710 г
		.card__btn_catalog
			.card__btn-1
				a.card__btn-1-link(href="present_10.html") Подробнее