.card_catalog
	.card__pic_catalog
		img.card__pic-img_catalog(src="assets/img/presents/6-9901.png")
	.card__info_catalog.card__info_catalog
		.card__header Зима в лесу эльфов
		.card__text_catalog Сладкий новогодний подарок "Ретро" из шоколадных конфет и вафельных батончиков в шоколадной глазури торговых марок Рошен и АВК. Упаковка выполнена в ретро стиле и предаставляет собой оригинально оформленную картонную коробочку с открыткой. Всего в подарке 74 конфеты.
	.card__price_catalog
		.card__price 88.80 грн
		.card__art_catalog 6-990
		.card__art_catalog 990 г
		.card__btn_catalog
			.card__btn-1
				a.card__btn-1-link(href="present_6_2.html") Подробнее