.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img(src="assets/img/presents/1.png")
	.card__info
		.card__header Ретро
		.card__price 168.50 грн
		.card__art артикул 701
		.card__art 1080 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_1.html") Подробнее