.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img(src="assets/img/presents/2-706(1200)2.png" width="145")
	.card__info
		.card__header Ледяные узоры
		.card__price 30 грн
		.card__art артикул 2-706(1200)2
		.card__art 1200 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_3.html") Подробнее