.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img#img-height(src="assets/img/presents/6.png")
	.card__info
		.card__header Дед Мороз
		.card__price 81.20 грн
		.card__art артикул 724
		.card__art 805 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_16.html") Подробнее