.card
	.card__block
		.card__block-left
		.card__block-right
	.card__pic
		img.card__pic-img#img-height(src="assets/img/presents/10.png")
	.card__info
		.card__header Камин
		.card__price 69.45 грн
		.card__art артикул 720
		.card__art 610 г
	.card__btn
		.card__btn-1
			a.card__btn-1-link(href="present_11.html") Подробнее