.content.clearfix
	.sidebar
		.menu
			.menu__categories
				img.menu__categories-img(src="assets/img/categories.png")
			ul.menu__list
				li.menu__item
					svg.svg-triangle(xmlns="http://www.w3.org/2000/svg" version="1.1")
						polygon(points="0,0 8.7,5 0,10")
					a.menu__link(href="#") Категория 1
				li.menu__item
					svg.svg-triangle(xmlns="http://www.w3.org/2000/svg" version="1.1")
						polygon(points="0,0 8.7,5 0,10")
					a.menu__link(href="#") Категория 2
				li.menu__item
					svg.svg-triangle(xmlns="http://www.w3.org/2000/svg" version="1.1")
						polygon(points="0,0 8.7,5 0,10")
					a.menu__link(href="#") Категория 3
				li.menu__item
					svg.svg-triangle(xmlns="http://www.w3.org/2000/svg" version="1.1")
						polygon(points="0,0 8.7,5 0,10")
					a.menu__link(href="#") Категория 4
				li.menu__item
					svg.svg-triangle(xmlns="http://www.w3.org/2000/svg" version="1.1")
						polygon(points="0,0 8.7,5 0,10")
					a.menu__link(href="#") Категория 5
				li.menu__item
					svg.svg-triangle(xmlns="http://www.w3.org/2000/svg" version="1.1")
						polygon(points="0,0 8.7,5 0,10")
					a.menu__link(href="#") Категория 6
		.menu
			.menu__categories
				img.menu__categories-img(src="assets/img/new.png")
			.menu__card
				block card
					include _card
				block card
					include _card
	.main
		.main__up
			.main__up-header 
				a.main__up-link(href="index.html") Главная
				| &raquo;
				span
					a.main__up-link(href="catalog.html") Каталог

		.main__header
			img.main__header-img(src="assets/img/1.png")
		.main__container
			block card_catalog
				include _card_catalog
			block card_catalog
				include _card_catalog
			block card_catalog
				include _card_catalog
			block card_catalog
				include _card_catalog
				