.content.clearfix#content__main
	.sidebar
		block sidebar
			include _left_menu
		block new
			include _new
	.main#catalog-page
		.main__up
			.main__up-header 
				a.main__up-link(href="index.html") Главная
				| &raquo;
				span
					a.main__up-link(href="catalog.html") Каталог

		.main__header
			h1.main__header-top Наш каталог
		.main__container#catalog-container
			block card_catalog
				include _card_catalog
			block card_catalog
				include _card_catalog2
			block card_catalog
				include _card_catalog3
			block card_catalog
				include _card_catalog4
			block card_catalog
				include _card_catalog6_1
			block card_catalog
				include _card_catalog7
			block card_catalog
				include _card_catalog7_1
			.main__container-btn#showMore2
				.card__btn-2
					a.card__btn-1-link(href="#") Показать еще
			#section2
				block card_catalog
					include _card_catalog8
				block card_catalog
					include _card_catalog10
				block card_catalog
					include _card_catalog11
				block card_catalog
					include _card_catalog12
				block card_catalog
					include _card_catalog13
				block card_catalog
					include _card_catalog7_2
				block card_catalog
					include _card_catalog9_1
			.main__container-btn#showMore3
				.card__btn-2
					a.card__btn-1-link(href="#") Показать еще
			#section3
				block card_catalog
					include _card_catalog15_1
				block card_catalog
					include _card_catalog16
				block card_catalog
					include _card_catalog18
				block card_catalog
					include _card_catalog18_1
				block card_catalog
					include _card_catalog19
				block card_catalog
					include _card_catalog21
			.main__container-btn#showMore4
				.card__btn-2
					a.card__btn-1-link(href="#") Показать еще
			#section4
				block card_catalog
					include _card_catalog22
				block card_catalog
					include _card_catalog23
				block card_catalog
					include _card_catalog26
				block card_catalog
					include _card_catalog28
				block card_catalog
					include _card_catalog34
				block card_catalog
					include _card_catalog7_3
			.content__info
				.card_about__text Сегодня сладкие новогодние подарки стали неотъемлемой частью Нового года. В каждой семье малыши ждут этот праздник в надежде получить долгожданный сюрприз от Дедушки Мороза и полакомиться полюбившимися сладостями от ведущих украинских кондитерских компаний. Так новогодние подарки рошен уже давно зарекомендовали себя на рынке, и не первый год радуют детей и взрослых по всей Украине.
				.card_about__text Ни один ребенок не представляет новогодние и рождественские праздники без сладких новогодних подарков. Вы можете купить изделия в специальной упаковке, разработанной для Нового Года или Рождества, бюджетные и элитные подарки с вкусными и ароматными конфетами. Большой ассортимент позволяет выбирать не только упаковку, но и наполнение. Это могут быть шоколадные и вафельные батончики, плитки шоколада, молочные коровки, ириски, желейные конфеты и многие другие. В любом случае сладкие новогодние подарки 2017 никого не оставят равнодушными!
				h2.main__header-top Как сладкие новогодние подарки купить оптом
				.card_about__text Позвонив по телефону +38097 067 1887, Вы можете сладкие новогодние подарки купить оптом, а также в розницу. Вам проконсультируют вежливые и приветливые менеджеры по поводу состава подарков, их стоимости, производителей и т.д. Вам также доступна возможность самостоятельно сформировать изделие, выбрав только самые любимые и вкусные конфеты, батончики и сладости.
				.card_about__text Если Вы хотите сладкие новогодние подарки купить, приложив при этом минимум усилий, и потратив всего несколько минут, Вы попали по адресу. Наши менеджеры соберут заказ и организуют доставку в течение суток после получения оплаты. Мы заинтересованы, чтобы наши сладкие коробочки как можно скорее оказались у Вас! 
				h2.main__header-top Наш ассортимент
				.card_about__text Мы работаем только с проверенными поставщиками и реализуем такие известные товары, как новогодние подарки рошен, милка, АВК, конти. Вам доступны более 300 видов всевозможных конфет, вафель, ириса, печенья в упаковке и восточных сладостей. Если Вы желаете сладкие новогодние подарки купить оптом для сотрудников своей компании или порадовать малышей в детском саду или школе, мы с радостью Вам в этом поможем!
					