.content#content__main.clearfix
	.sidebar
		block sidebar
			include _left_menu
		block popular
			include _popular
	.main
		.main__up
			.main__up-header 
				a.main__up-link(href="index.html") Главная
				| &raquo;
				span
					a.main__up-link(href="carry.html") Условия доставки

		.main__header
			img.main__header-img(src="assets/img/13.png")
		.main__container
			.card_about
				.card_about__text Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				.card__item_agreement Оплатить товар можно следующими способами: 
				.card__wrapper_price.clearfix
					.card__img-wrapper_price
						img.card__img_price(src='assets/img/20.png')
					.card__img-wrapper_price
						img.card__img_price(src='assets/img/21.png')
					.card__img-wrapper_price
						img.card__img_price(src='assets/img/22.png')
					.card__img-wrapper_price
						img.card__img_price(src='assets/img/23.png')
				a.card_about__link(href="catalog.html") Продолжить &gt;