.content.clearfix#content__main
	.sidebar
		.menu
			.menu__categories
				img.menu__categories-img(src="assets/img/categories.png")
			ul.menu__list
				li.menu__item
					svg.svg-triangle(xmlns="http://www.w3.org/2000/svg" version="1.1")
						polygon(points="0,0 8.7,5 0,10")
					a.menu__link(href="#category1") Новогодние подарки в дизайнерской упаковке
				li.menu__item
					svg.svg-triangle(xmlns="http://www.w3.org/2000/svg" version="1.1")
						polygon(points="0,0 8.7,5 0,10")
					a.menu__link(href="#category2") Новогодние подарки в стандартной упаковке
		.menu
			.menu__categories
				img.menu__categories-img(src="assets/img/popular.png")
			ul.menu__list_popular
				li.menu__item
					a.menu__link(href="present_20.html") 
						span 1.
						| Новогодний лес
				li.menu__item
					a.menu__link(href="present_2.html") 
						span 2.
						| Паровозик
				li.menu__item
					a.menu__link(href="present_24.html") 
						span 3.
						| Дедушка Мороз с саксафоном
	.main
		.main__up
			.main__up-header 
				a.main__up-link(href="index.html") Главная
		.main__header 
			h1.main__header-top Новогодние подарки
		.main__container#category1
			block card
				include _card
			block card
				include _card2
			block card
				include _card3
			block card
				include _card4
			block card
				include _card5
			block card
				include _card6
			block card
				include _card7
		.main__container#category2
			block card
				include _card8
			block card
				include _card9
			block card
				include _card10
			block card
				include _card11
			block card
				include _card12
			block card
				include _card13
			block card
				include _card14
			block card
				include _card15
			block card
				include _card16
			block card
				include _card17
			block card
				include _card18
			block card
				include _card19
			block card
				include _card20
			block card
				include _card21
			block card
				include _card22
			block card
				include _card23
			block card
				include _card24
			block card
				include _card25
			block card
				include _card26
			block card
				include _card30
			block card
				include _card31
			block card
				include _card32
			block card
				include _card33
			block card
				include _card34
	#pagingControls