.content.clearfix
	.sidebar
		block sidebar
			include _left_menu
		block new
			include _new
	.main#content__main
		.main__up
			.main__up-header 
				a.main__up-link(href="index.html") Главная
				| &raquo;
				span
					a.main__up-link(href="news_2.html") Новости

		.main__header
			h1.main__header-top Новости
		.main__container
			.news__wrapper
				.news__header Шоколад и его история
				.news__text Шоколад издревле был очень вкусным и востребованным напитком. С давних времен до современности этот продукт прошел долгий и тернистый путь. Если раньше отведать его могли только королевские особы и знатные вельможи, сейчас полакомиться им может каждый.
				.news__header-2 Первые упоминания о шоколаде
				.news__text Впервые человечество попробовало шоколад 3 тысячи лет назад на территории современной Мексики в виде холодного  напитка. Индейцы считали дерево какао божественным и поклонялись ему, а его плоды использовали не только в пищу, но и в качестве денежной единицы.
				.news__text Изначально индейцы не занимались выращиванием какао-бобов, поскольку их было в изобилии вокруг. Однако примерно в 6 веке н.э. по данным ученых появились первые плантации этих удивительных деревьев с ароматными плодами.
				.news__text Индейцы майа, а затем и ацтеки употребляли какао-бобы, предварительно измельчив их и залив холодной водой.
				.news__header-2 Шоколад и покорение Европы
				.news__text В 16 веке Мексику покорил испанский конкистадор Кортес, который привез диковинный напиток в Европу. Испанцы пили шоколад более пикантным: добавляли корицу, сахар, мускатный орех, ваниль, что делало шоколад особо вкусным и изысканным.
				.news__text Постепенно слава о какао-бобах поползла по Италии, Франции, Германии. Началась настоящая «шоколадная лихорадка». Шоколадницы (кафе, в которых подавали шоколад) открывались во многих городах Европы и пользовались необычайной популярностью.
				.news__text В 17-18 веках горячий шоколад завоевал всю Европу, однако цена его оставалась очень высокой. В это же время французский герцог Плесси-Пралин создал первый шоколадный десерт, названный в его честь – пралине. Это были тертые орехи с кусочками шоколада и медом. 
				.news__text Долгое время шоколад был достаточно горьким и тягучим, а в начале 18 века мудрые англичане добавили в него молоко.
				.news__header-2 Шоколад обретает твердую форму
				.news__text Раньше шоколад был только жидким, и его приравнивали к напиткам. А в начале 19 века голландец Конрад ван Хоутен наконец подарил шоколаду привычную для нас форму, благодаря тому, что научился добывать какао масло. Первая настоящая шоколадная плитка, состоящая из какао-бобов, сахара, ликера и какао-масла появилась в Англии.
				.news__text Теперь рецептура шоколада постоянно совершенствовалась. В состав стали добавлять орехи, а в 1875 году был создан молочный шоколад. К началу 20 века шоколадный рынок разделили такие крупные компании как Nestle, M&M’s, «Кэдберри» и некоторые другие.
				.news__text В 1930 году компания Nestle создала многими любимый сегодня белый шоколад.
				img.news__img(src='assets/img/choco1.jpg')
			