.content.clearfix#insert
	.sidebar
		block sidebar
			include _left_menu
		block popular
			include _popular
	.main
		.main__up
			.main__up-header 
				a.main__up-link(href="index.html") Главная
				| &raquo;
				span
					a.main__up-link(href="present_19.html") 13-735(600)
		.main__header
			h2.main__header-top Новогодний подарок
		.main__container
			block card_present
				include _card_present19