.content.clearfix
	.sidebar
		block sidebar
			include _left_menu
		block new
			include _new
	.main
		.main__up
			.main__up-header 
				a.main__up-link(href="index.html") Главная
				| &raquo;
				span
					a.main__up-link(href="contacts.html") Контакты

		.main__header
			img.main__header-img(src="assets/img/7.png")
		.main__container
			block card_contacts
				include _card_contacts
			block card_contacts
				include _card_form
				