.content.clearfix#content__main
	.sidebar
		.menu
			.menu__categories
				img.menu__categories-img(src="assets/img/categories.png")
			ul.menu__list
				li.menu__item
					svg.svg-triangle(xmlns="http://www.w3.org/2000/svg" version="1.1")
						polygon(points="0,0 8.7,5 0,10")
					a.menu__link(href="#category1") Категория 1
				li.menu__item
					svg.svg-triangle(xmlns="http://www.w3.org/2000/svg" version="1.1")
						polygon(points="0,0 8.7,5 0,10")
					a.menu__link(href="#category2") Категория 2
				li.menu__item
					svg.svg-triangle(xmlns="http://www.w3.org/2000/svg" version="1.1")
						polygon(points="0,0 8.7,5 0,10")
					a.menu__link(href="#category3") Категория 3
		.menu
			.menu__categories
				img.menu__categories-img(src="assets/img/popular.png")
			ul.menu__list_popular
				li.menu__item
					a.menu__link(href="present_1.html") 
						span 1.
						| Новогодний подарок 1
				li.menu__item
					a.menu__link(href="present_1.html") 
						span 2.
						| Новогодний подарок 2
				li.menu__item
					a.menu__link(href="present_1.html") 
						span 3.
						| Новогодний подарок 3
	.main
		.main__up
			.main__up-header 
				a.main__up-link(href="index.html") Главная
		.main__header 
			h1.main__header-top Новогодние подарки
		.main__container#category1
			block card
				include _card
			block card
				include _card
			block card
				include _card
			block card
				include _card
			block card
				include _card
			block card
				include _card
			block card
				include _card
			block card
				include _card
			block card
				include _card
		.main__container#category2
			block card
				include _card2
			block card
				include _card2
			block card
				include _card2
			block card
				include _card2
			block card
				include _card2
			block card
				include _card2
			block card
				include _card2
			block card
				include _card2
			block card
				include _card2
		.main__container#category3
			block card
				include _card3
			block card
				include _card3
			block card
				include _card3
			block card
				include _card3
			block card
				include _card3
			block card
				include _card3
			block card
				include _card3
			block card
				include _card3
			block card
				include _card3