.content#content__main.clearfix
	.sidebar
		block sidebar
			include _left_menu
		block popular
			include _popular
		block news
			include _news
	.main
		.main__up
			.main__up-header 
				a.main__up-link(href="index.html") Главная
				| &raquo;
				span
					a.main__up-link(href="assorty.html") Наш ассортимент
		.main__header
			h1.main__header-top Сладкие новогодние подарки для детей
		.main__container
			.card_about
				.card__text-1 Наша компания предлагает Вам большой ассортимент сладких новогодних подарков для детей в красивых специально разработанных картонных упаковках. Это упаковки, на которых изображен Дед Мороз, олененок Рудольф, новогодние ангелы, дети в канун Нового года, и самое главное,  детские новогодние подарки 2017 с изображением петушка, символа наступающего года. Упаковка выполнена проверенными производителями из экологически чистого материала.
				.card__text-1 Каждый детский новогодний подарок отличается уникальным составом, который Вы можете сформировать самостоятельно или выбрать уже подготовленный состав от нашей компании. Детские новогодние подарки 2017 состоят из лучшей продукции ведущих украинских производителей сладостей – Рошен, АВК, Конти, Свиточ. В подарках Вы найдете:
				.card_about__item 
					span - вафельные батончики в черном и белом шоколаде,
				.card_about__item 
					span - праздничные ириски,
				.card_about__item 
					span - карамель и леденцы,
				.card_about__item 
					span - шоколадные и фруктовые драже,
				.card_about__item 
					span - жевательный мармелад в подарке <a href="present_13.html">Веселый олененок</a>,
				.card_about__item 
					span - конфеты в шоколадной глазури с молочной, фруктовой, шоколадной, ореховой начинкой в подарке <a href="present_18.html">Дед Мороз и Снеговик</a> и т.д.
				h2.main__header-top Контроль качества
				.card__text-1 Наша компания формирует сладкие новогодние подарки для детей только из сертифицированной продукции, которая строго отвечает требованиям государственного стандарта. Также мы контролируем наш товар по срокам изготовления.
				h2.main__header-top Как мы формируем сладкие новогодние подарки от производителя
				.card__text-1 При формировании новогодних подарков конфеты, мы руководствуемся соотношением цены и качества. За минимальную цену Вы приобретете вкусные и всеми любимые конфеты, батончики, вафли и ириски.
				.card__text-1 По Вашему желанию, мы можем сформировать детский новогодний подарок только из элитных шоколадных конфет (подарок <a href="present_3.html">Ледяные узоры</a>) или, наоборот, бюджетный вариант с ирисками и карамелью. Все зависит от Ваших пожеланий!
				.card__img-wrapper_agreement
					img.card__img_agreement(src="assets/img/candy1.jpg")