.content.clearfix
	.sidebar
		block sidebar
			include _left_menu
		block new
			include _new
	.main#content__main
		.main__up
			.main__up-header 
				a.main__up-link(href="index.html") Главная
				| &raquo;
				span
					a.main__up-link(href="news_1.html") Новости

		.main__header
			h1.main__header-top Новости
		.main__container
			.news__wrapper
				.news__header Статья 1
				.news__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
				.news__text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
				.news__text Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
				img.news-img(src='assets/img/candy1.jpg')
			