.content.clearfix#content__main
	.sidebar
		block sidebar
			include _left_menu
		block new
			include _new
	.main
		.main__up
			.main__up-header 
				a.main__up-link(href="index.html") Главная
				| &raquo;
				span
					a.main__up-link(href="catalog.html") Каталог

		.main__header
			h1.main__header-top Наш каталог
		.main__container
			block card_catalog
				include _card_catalog
			block card_catalog
				include _card_catalog2
			block card_catalog
				include _card_catalog3
			block card_catalog
				include _card_catalog4
			block card_catalog
				include _card_catalog5
			block card_catalog
				include _card_catalog6
			block card_catalog
				include _card_catalog7
			block card_catalog
				include _card_catalog8
			block card_catalog
				include _card_catalog9
			block card_catalog
				include _card_catalog10
			block card_catalog
				include _card_catalog11
			block card_catalog
				include _card_catalog12
			block card_catalog
				include _card_catalog13
			block card_catalog
				include _card_catalog14
			block card_catalog
				include _card_catalog15
			block card_catalog
				include _card_catalog16
			block card_catalog
				include _card_catalog17
			block card_catalog
				include _card_catalog18
			block card_catalog
				include _card_catalog19
			block card_catalog
				include _card_catalog20
			block card_catalog
				include _card_catalog21
			block card_catalog
				include _card_catalog22
			block card_catalog
				include _card_catalog23
			block card_catalog
				include _card_catalog24
			block card_catalog
				include _card_catalog25
			block card_catalog
				include _card_catalog26
			block card_catalog
				include _card_catalog27
			block card_catalog
				include _card_catalog28
			block card_catalog
				include _card_catalog29
			block card_catalog
				include _card_catalog30
			block card_catalog
				include _card_catalog31
			block card_catalog
				include _card_catalog32
			block card_catalog
				include _card_catalog33
			block card_catalog
				include _card_catalog34
				