.content.clearfix#content__main
	.sidebar
		block sidebar
			include _left_menu
		block new
			include _new
	.main
		.main__up
			.main__up-header 
				a.main__up-link(href="index.html") Главная
				| &raquo;
				span
					a.main__up-link(href="catalog.html") Каталог

		.main__header
			h1.main__header-top Наш каталог
		.main__container
			block card_catalog
				include _card_catalog
			block card_catalog
				include _card_catalog
			block card_catalog
				include _card_catalog
			block card_catalog
				include _card_catalog
				