.content.clearfix
	.sidebar
		block sidebar
			include _left_menu
		block new
			include _new
	.main#content__main
		.main__up
			.main__up-header 
				a.main__up-link(href="index.html") Главная
				| &raquo;
				span
					a.main__up-link(href="news_3.html") Новости

		.main__header
			h1.main__header-top Новости
		.main__container
			.news__wrapper
				.news__header Идеи новогодних подарков 2017
				.news__text Новый год на носу, а вы не знаете, что подарить родным, друзьям и коллегам. Наступающий год Огненного Петуха обещает быть позитивным и ярким, как и его символ. Поэтому на Новый год подарки надо выбирать соответствующие. Не бойтесь быть оригинальными, но при этом не забывайте про практичность.
				.news__header-2 Подарки с символом 2017 года
				.news__text Если ваши друзья любят уют и домашнее тепло, можно купить плед или подушку с изображением петушка, статуэтки или ёлочные игрушки, свечи и т.д. Такие сувениры не только украсят дом, но и пригодятся в хозяйстве – согреют холодным вечером, подымут настроение и помогут создать праздничную обстановку. 
				.news__text Отдавайте предпочтение ярким цветам – красному, желтому, золотому, оранжевому. Если вы хотите порадовать близких в эту ночь, отдайте предпочтение золотым ювелирным украшениям и бижутерии. Это особенно порадует Огненного петушка.
				.news__text Если подарок все-таки оказался не особо ярким, используйте яркую, броскую упаковку с лентами, бантами или новогодними рисунками и узорами.
				.news__header-2 Что подарить коллегам?
				.news__text В преддверии Нового года возникает вопрос: как поздравить коллег? Стоит выбирать небольшие практичные подарки, которые не будут просто пылиться на полке. Это могут быть ручки, визитницы, блокноты, тематически оформленные, также наборы чая или кофе. Мужчины также оценят галстуки, портсигары, а женщин не оставят равнодушными аромолампы или предметы декора.
				.news__header-2 Не знаете, что подарить родителям?
				.news__text Родители – наши самые близкие люди. Хочется, чтоб в их душе всегда было тепло и радостно. Помочь в этом может уютный теплый халат, плед, бытовая техника. Маме или бабушке можно презентовать средства по уходу за кожей, красивый сервиз, оригинальную сумку с изображением петуха и т.д. А отец или дедушка порадуются новому мягкому шарфу, планшету или хорошей книге.
				.news__text Не забывайте об универсальных новогодних подарках – магнитах, свечах, календарях, кружках. Такие тематические сувениры одновременно являются украшением и нужной в обиходе вещью.
				.news__header-2 Съедобные подарки
				.news__text Если вы любите делать подарки своими руками, то отличным вариантом будет праздничный торт или популярное на западе имбирное печенье. Такой подарок, особенно тематически украшенный понравится как взрослым так и малышам. Тем более домашняя выпечка полезнее и часто вкуснее магазинной. 
				.news__text Выбор новогоднего подарка - это ответсвенный и интересный процесс, который является неизменной частью наступающего праздника. В итоге, главное, дарить подарок с душой!
				img.news__img(src='assets/img/choco2.jpg')
				