.content.clearfix#content__main
	.sidebar
		.menu
			.menu__categories
				img.menu__categories-img(src="assets/img/categories.png")
			ul.menu__list
				li.menu__item
					svg.svg-triangle(xmlns="http://www.w3.org/2000/svg" version="1.1")
						polygon(points="0,0 8.7,5 0,10")
					a.menu__link(href="#category1") Новогодние подарки в дизайнерской упаковке
				li.menu__item
					svg.svg-triangle(xmlns="http://www.w3.org/2000/svg" version="1.1")
						polygon(points="0,0 8.7,5 0,10")
					a.menu__link(href="#category2") Новогодние подарки в стандартной упаковке
		.menu
			.menu__categories
				img.menu__categories-img(src="assets/img/popular.png")
			ul.menu__list_popular
				li.menu__item
					a.menu__link(href="present_20.html") 
						span 1.
						| Новогодний лес
				li.menu__item
					a.menu__link(href="present_2.html") 
						span 2.
						| Паровозик
				li.menu__item
					a.menu__link(href="present_24.html") 
						span 3.
						| Дедушка Мороз с саксафоном
	.main#main-page
		.main__up
			.main__up-header 
				a.main__up-link(href="index.html") Главная
		.main__header 
			h1.main__header-top Новогодние подарки
			.card_about__text Не знаете, что подарить малышам на Новый год? Скоро в гости, Новый год на носу, а подарки не готовы? Тогда мы спасем Ваше положение со сладкими новогодними подарками для детей.
			.card_about__text Наш сайт предлагает огромный выбор самых вкусных и качественных сладких новогодних подарков от производителя. Мы с радостью доставим вам наилучшие конфеты, шоколадки, мармелад, вафли и другие сладости в самые сжатые сроки.
			h2.main__header-top Каталог новогодних подарков
			.card_about__text Мы предлагаем большой каталог новогодних подарков, представленный в двух категориях: новогодние подарки в дизайнерской упаковке и новогодние подарки в стандартной упаковке. Весь наш товар радует глаз и приносит незабываемые вкусовые ощущения! Наши сладкие новогодние подарки 2017 детям однозначно заслуживают Вашего внимания!
			h3.main__header-top Стандартная упаковка
			.card_about__text Если Вы ищите сладкие новогодние подарки для детей в праздничной яркой упаковке, смело останавливайтесь на данной категории. Здесь представлен товар для детей в специально разработанной упаковке. Малыши смогут полакомиться вкуснейшими шоколадными конфетами из коробочки, на которой изображен Дед Мороз в различных видах, его олень, детки или ангелочки под елочкой. Большой выбор позволяет новогодний подарок конфеты купить в различных упаковках с одинаковым составом, чтобы никому из маленьких гостей не было обидно.
			.card_about__text Отдельного внимания заслуживают сладкие новогодние подарки для детей в упаковке в виде символа 2017 года – петушка. У нас Вы найдете более 5 видов сладких новогодних подарков от производителя с изображением петушка – веселого и застенчивого, с шампанским и конфетами. Новогодние подарки конфеты, оформленные в таком стиле, подойдут не только детям, но порадуют и взрослых.
			h3.main__header-top Дизайнерская упаковка
			.card_about__text Если же Вас интересуют не только сладкие новогодние подарки 2017 детям, а Вашей целью является взрослая аудитория, обратите внимание на изделия в дизайнерской упаковке. Это яркие и стильные сладкие новогодние подарки от производителя в оригинальных коробочках и картонных сумочках с ручками, а также в виде книг и шкатулок. Побалуйте себя, родных и коллег подобным оригинальным решением!			

		.main__container#category1
			block card
				include _card
			block card
				include _card2
			block card
				include _card3
			block card
				include _card4
			block card
				include _card5
			block card
				include _card6
			block card
				include _card7
		.main__container#category2
			block card
				include _card8
			block card
				include _card9
			block card
				include _card10
			block card
				include _card11
			block card
				include _card12
			block card
				include _card13
			block card
				include _card14
			block card
				include _card15
			block card
				include _card16
			.main__container-btn#showMore2
				.card__btn-2
					a.card__btn-1-link(href="#") Показать еще
			#section2
				block card
					include _card17
				block card
					include _card18
				block card
					include _card19
				block card
					include _card20
				block card
					include _card21
				block card
					include _card22
				block card
					include _card23
				block card
					include _card24
				block card
					include _card25
			.main__container-btn#showMore3
				.card__btn-2
					a.card__btn-1-link(href="#") Показать еще
			#section3
				block card
					include _card26
				block card
					include _card27
				block card
					include _card28
				block card
					include _card29
				block card
					include _card30
				block card
					include _card31
				block card
					include _card32
				block card
					include _card33
				block card
					include _card34