footer.footer
	ul.footer__list
		li.footer__item
			.footer__item-header Полезная информация
			ul.footer__list-inner
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#!/pay") Оплата и доставка
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#!/agreement") Наш магазин
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#!/assorty") Наш ассортимент
		li.footer__item
			.footer__item-header Главное меню
			ul.footer__list-inner
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#!/index") Главная
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#!/catalog") Каталог
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#!/price") Прайс
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#!/about") О нас
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#!/news") Новости
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#!/contacts") Контакты
		li.footer__item
			.footer__item-header Новое на сайте
			ul.footer__list-inner
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#!/present_1") Ретро
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#!/present_2") Паровоз-пакет
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#!/present_3") Петривка-пакет
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#!/present_4") Сумочка с письмом
	.footer__sign Все права защищены. Ласощи &#169; 2016
