footer.footer
	ul.footer__list
		li.footer__item
			.footer__item-header Заголовок 1
			ul.footer__list-inner
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#") Страница 1
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#") Страница 2
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#") Страница 3
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#") Страница 4
		li.footer__item
			.footer__item-header Заголовок 2
			ul.footer__list-inner
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#") Страница 5
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#") Страница 6
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#") Страница 7
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#") Страница 5
		li.footer__item
			.footer__item-header Заголовок 3
			ul.footer__list-inner
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#") Страница 4
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#") Страница 3
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#") Страница 5
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#") Страница 8
		li.footer__item
			.footer__item-header Заголовок 4
			ul.footer__list-inner
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#") Страница 1
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#") Страница 2
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#") Страница 3
				li.footer__list-inner-item
					a.footer__list-inner-link(href="#") Страница 4
	.footer__sign Все права защищены. Ласощи &#169; 2016
