footer.footer
	ul.footer__list
		li.footer__item
			.footer__item-header Полезная информация
			ul.footer__list-inner
				li.footer__list-inner-item
					a.footer__list-inner-link(href="pay.html") Оплата и доставка
				li.footer__list-inner-item
					a.footer__list-inner-link(href="agreement.html") Наш магазин
				li.footer__list-inner-item
					a.footer__list-inner-link(href="assorty.html") Наш ассортимент
		li.footer__item
			.footer__item-header Главное меню
			ul.footer__list-inner
				li.footer__list-inner-item
					a.footer__list-inner-link(href="index.html") Главная
				li.footer__list-inner-item
					a.footer__list-inner-link(href="catalog.html") Каталог
				li.footer__list-inner-item
					a.footer__list-inner-link(href="price.html") Прайс
				li.footer__list-inner-item
					a.footer__list-inner-link(href="about.html") О нас
				li.footer__list-inner-item
					a.footer__list-inner-link(href="news.html") Новости
				li.footer__list-inner-item
					a.footer__list-inner-link(href="contacts.html") Контакты
		li.footer__item
			.footer__item-header Новое на сайте
			ul.footer__list-inner
				li.footer__list-inner-item
					a.footer__list-inner-link(href="present_1.html") Ретро
				li.footer__list-inner-item
					a.footer__list-inner-link(href="present_2.html") Паровоз-пакет
				li.footer__list-inner-item
					a.footer__list-inner-link(href="present_3.html") Петривка-пакет
				li.footer__list-inner-item
					a.footer__list-inner-link(href="present_4.html") Сумочка с письмом
	.footer__sign Все права защищены. Ласощи &#169; 2016
