footer.footer
	ul.footer__list
		li.footer__item
			.footer__item-header Полезная информация
			ul.footer__list-inner
				li.footer__list-inner-item
					a.footer__list-inner-link(href="pay.html") Оплата
				li.footer__list-inner-item
					a.footer__list-inner-link(href="carry.html") Доставка
				li.footer__list-inner-item
					a.footer__list-inner-link(href="agreement.html") Договор
				li.footer__list-inner-item
					a.footer__list-inner-link(href="catalog.html") Наш ассортимент
		li.footer__item
			.footer__item-header Главное меню
			ul.footer__list-inner
				li.footer__list-inner-item
					a.footer__list-inner-link(href="index.html") Главная
				li.footer__list-inner-item
					a.footer__list-inner-link(href="catalog.html") Каталог
				li.footer__list-inner-item
					a.footer__list-inner-link(href="price.html") Прайс
				li.footer__list-inner-item
					a.footer__list-inner-link(href="about.html") О нас
				li.footer__list-inner-item
					a.footer__list-inner-link(href="contacts.html") Контакты
		li.footer__item
			.footer__item-header Популярные подарки
			ul.footer__list-inner
				li.footer__list-inner-item
					a.footer__list-inner-link(href="present_1.html") Подарок 1
				li.footer__list-inner-item
					a.footer__list-inner-link(href="present_1.html") Подарок 2
				li.footer__list-inner-item
					a.footer__list-inner-link(href="present_1.html") Подарок 3
				li.footer__list-inner-item
					a.footer__list-inner-link(href="present_1.html") Подарок 4
		li.footer__item
			.footer__item-header Новое на сайте
			ul.footer__list-inner
				li.footer__list-inner-item
					a.footer__list-inner-link(href="present_1.html") Новогодний подарок 1
				li.footer__list-inner-item
					a.footer__list-inner-link(href="present_1.html") Новогодний подарок 2
				li.footer__list-inner-item
					a.footer__list-inner-link(href="present_1.html") Новогодний подарок 3
				li.footer__list-inner-item
					a.footer__list-inner-link(href="present_1.html") Новогодний подарок 4
	.footer__sign Все права защищены. Ласощи &#169; 2016
