.wrapper
	.bg
		header.header
			.header__menu-wrapper
				.header__menu
					ul.header__menu-list
						li.header__menu-item
							a.header__menu-link(href="#") Главная
						li.header__menu-item
							a.header__menu-link(href="#") Каталог
						li.header__menu-item
							a.header__menu-link(href="#") Прайс
						li.header__menu-item
							a.header__menu-link(href="#") О нас
						li.header__menu-item
							a.header__menu-link(href="#") Контакты

