header.header(ng-controller="authController as auth")
	section.header__upper.clearfix
			a.logo(href="#!/index")
			nav.header__top-menu
				ul.header__top-menu-list
					li.header__top-menu-item
						a.header__top-menu-link(href="#!/pay") Оплата и доставка
					li.header__top-menu-item
						a.header__top-menu-link(href="#!/agreement") Наш магазин
					li.header__top-menu-item
						a.header__top-menu-link(href="#!/assorty") Наш ассортимент
					li.header__top-menu-item
						a.header__top-menu-link.js-auth(href="#!/auth") Авторизация
				.header__text
					| заказ подарков
					span +38(097)0671887
	.header__menu-wrapper
		.header__menu
			ul.header__menu-list
				li.header__menu-item
					a.header__menu-link(href="#!/index") Главная
				li.header__menu-item
					a.header__menu-link(href="#!/catalog") Каталог
				li.header__menu-item
					a.header__menu-link(href="#!/price") Прайс
				li.header__menu-item
					a.header__menu-link(href="#!/about") О нас
				li.header__menu-item
					a.header__menu-link(href="#!/news") Новости
				li.header__menu-item
					a.header__menu-link(href="#!/contacts") Контакты