.menu
	.menu__categories
		img.menu__categories-img(src="assets/img/categories.png")
	ul.menu__list
		li.menu__item
			svg.svg-triangle(xmlns="http://www.w3.org/2000/svg" version="1.1")
				polygon(points="0,0 8.7,5 0,10")
			a.menu__link(href="index.html#category1") Новогодние подарки в дизайнерской упаковке
		li.menu__item
			svg.svg-triangle(xmlns="http://www.w3.org/2000/svg" version="1.1")
				polygon(points="0,0 8.7,5 0,10")
			a.menu__link(href="index.html#category2") Новогодние подарки в стандартной упаковке
	