.menu
	.menu__news
		img.menu__categories-img(src="assets/img/news.png")
		.menu__news-wrapper
			article.menu__news-article
				.menu__news-header Статья 1
				.menu__news-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
				.menu__news-text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
				.menu__news-text Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
				img.menu__news-img(src='assets/img/candy1.jpg')
				.card__btn-1
					a.card__btn-1-link(href="news_1.html") Подробнее
				.menu__news-line
			article.menu__news-article
				.menu__news-header Статья 1
				.menu__news-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
				.menu__news-text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
				.menu__news-text Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
				img.menu__news-img(src='assets/img/candy1.jpg')
				.card__btn-1
					a.card__btn-1-link(href="news_2.html") Подробнее
				.menu__news-line
			article.menu__news-article
				.menu__news-header Статья 1
				.menu__news-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
				.menu__news-text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
				.menu__news-text Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
				img.menu__news-img(src='assets/img/candy1.jpg')
				.card__btn-1
					a.card__btn-1-link(href="news_3.html") Подробнее
