.menu
	.menu__news
		img.menu__categories-img(src="assets/img/news.png")
		.menu__news-wrapper
			article.menu__news-article
				.menu__news-header Как выбрать качественные шоколадные конфеты
				.menu__news-text Наверное, каждый, приходя в магазин, супермаркет или находясь на страницах интернет-магазина сладостей, задумывался, какие конфеты качественные, а какие – нет. И как выбрать именно качественный товар, который не навредил бы здоровью, при этом обладая превосходным вкусом. Как же это сделать? 
				img.menu__news-img(src='assets/img/choco.jpg')
				.card__btn-1
					a.card__btn-1-link(href="#!/news_1") Подробнее
				.menu__news-line
			article.menu__news-article
				.menu__news-header Шоколад и его история
				.menu__news-text Шоколад издревле был очень вкусным и востребованным напитком. С давних времен до современности этот продукт прошел долгий и тернистый путь. Если раньше отведать его могли только королевские особы и знатные вельможи, сейчас полакомиться им может каждый.
				img.menu__news-img(src='assets/img/choco1.jpg')
				.card__btn-1
					a.card__btn-1-link(href="#!/news_2") Подробнее
				.menu__news-line
			article.menu__news-article
				.menu__news-header Идеи новогодних подарков 2017
				.menu__news-text Новый год на носу, а вы не знаете, что подарить родным, друзьям и коллегам. Наступающий год Огненного Петуха обещает быть позитивным и ярким, как и его символ. Поэтому на Новый год подарки надо выбирать соответствующие. Не бойтесь быть оригинальными, но при этом не забывайте про практичность.
				img.menu__news-img(src='assets/img/choco2.jpg')
				.card__btn-1
					a.card__btn-1-link(href="#!/news_3") Подробнее