.menu
	.menu__categories
		img.menu__categories-img(src="assets/img/popular.png")
	ul.menu__list_popular
		li.menu__item
			a.menu__link(href="present_1.html") 
				span 1.
				| Новогодняя шкатулка
		li.menu__item
			a.menu__link(href="present_2.html") 
				span 2.
				| Паровозик
		li.menu__item
			a.menu__link(href="present_3.html") 
				span 3.
				| Ледяные узоры