.menu
	.menu__categories
		img.menu__categories-img(src="assets/img/popular.png")
	ul.menu__list_popular
		li.menu__item
			a.menu__link(href="present_1.html") 
				span 1. 
				|  Ретро
		li.menu__item
			a.menu__link(href="present_2.html") 
				span 2.
				| Паровоз-пакет
		li.menu__item
			a.menu__link(href="present_3.html") 
				span 3.
				| Петривка-пакет
		li.menu__item
			a.menu__link(href="present_4.html") 
				span 4.
				| Сумочка с письмом
		li.menu__item
			a.menu__link(href="present_6_1.html") 
				span 5.
				| Зима в лесу эльфов