.menu
	.menu__categories
		img.menu__categories-img(src="assets/img/popular.png")
	ul.menu__list_popular
		li.menu__item
			a.menu__link(href="present_1.html") 
				span 1.
				| Новогодний подарок 1
		li.menu__item
			a.menu__link(href="present_1.html") 
				span 2.
				| Новогодний подарок 2
		li.menu__item
			a.menu__link(href="present_1.html") 
				span 3.
				| Новогодний подарок 3