.slider
	.slider__img
		ul.slider__img-list
			li.slider__img-item.active
				img.slider__img-img(src="assets/img/5.png")
			li.slider__img-item
				img.slider__img-img(src="assets/img/1.gif")
			li.slider__img-item
				img.slider__img-img(src="assets/img/2.png")
			li.slider__img-item
				img.slider__img-img(src="assets/img/3.png")

	.slider__text
		img.slider__text-img(src="assets/img/text.png")
	