.card {
	width: 230px;
	height: 350px;
	margin: 10px;

	box-shadow: 1px 2px 2px 2px #989696;
	background: #fff;
	border-radius: 10px;

	position: relative;

	overflow: hidden; 
	
	@include desktop {
		width: 200px;
		height: 300px;
	}

	@include laptop {
		width: 230px;
		height: 350px;
	}
	&:hover.card:after {
		transform: translateX(0);
	}

	&:hover.card:before {
		transform: translateX(0);
	}

	&:hover .card__btn {
		visibility: visible;
	}

	&:before {
		content: '';
		border-radius: 10px 0 0 10px;
		transform: translateX(-100%);
		background: rgba(0,0,0,.5);

		position: absolute;
		top: 0;
		left: 0;

		width: 50%;
		height: 100%;

		z-index: 2;	
		transition: .5s;	
	}

	&:after {
		content: '';
		border-radius: 0 10px 10px 0;
		transform: translateX(100%);
		background: rgba(0,0,0,.5);

		position: absolute;
		top: 0;
		left: 50%;

		width: 50%;
		height: 100%;

		z-index: 2;

		transition: .5s;
	}
	
	&__pic {
		position: absolute;
		top: 3%;

		width: 100%;

		&-img {
			display: block;
			margin:auto;

			width: 210px;

			@include desktop {
				width: 190px;
			}
			@include laptop {
				width: 210px;
			}
			@include phones {
				width: 190px;
			}
		}
	}
	&__info {
		position: absolute;
		top: 70%;

		width: 100%;

		font: 16px 'Open Sans', Arial, sans-serif; 

		text-align: center;
	}
	&__header {
		color: rgba(124,8,20,1);
		margin-bottom: 10px;
	}
	&__art {
		font-size: 12px;
	}
	&__price {
		color: rgba(125,116,117,1);

		font-size: 20px;

		margin-bottom: 10px;
	}
	&__btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-55%, -50%);

		z-index: 3;
		visibility: hidden;

		&-1 {
			cursor: pointer;
			background: linear-gradient(to right bottom, rgba(124,8,20,1), rgba(188,20,37,1));

			outline: none;
			border: 1px solid rgba(182,35,60,1);
			border-radius: 5px;
			
			width: 100px;
			height: 30px;

			margin-bottom: 10%; 

			&:hover .card__btn-1-link{
				color: rgba(40,3,7,1);
			}

			&-link {
				display: block;
				width: 100%;
				height: 100%;
				
				@include box;
				padding-top: 8px;
				
				color: #fff;
				font: 11px 'Open Sans', Arial, sans-serif;

				text-decoration: none;
				text-transform: uppercase;
				text-align: center;
			}
		}
	}

	&__addNew {
		outline: 1px dashed red;
		outline-offset:-10px;
	}
}