.card {
	width: 230px;
	height: 350px;
	margin: 10px;

	box-shadow: 1px 2px 2px 2px #989696;
	background: #fff;
	border-radius: 10px;

	position: relative;

	overflow: hidden; 
	
	&:hover .card__block-left {
		transform: translateX(0);
	}

	&:hover .card__block-right {
		transform: translateX(0);
	}

	&:hover .card__btn {
		visibility: visible;
	}
	
	&__pic {
		position: absolute;
		top: 10%;

		width: 100%;

		&-img {
			display: block;
			margin:auto;
		}
	}
	&__info {
		position: absolute;
		top: 55%;

		width: 100%;

		font: 16px Georgia, Arial, sans-serif; 

		text-align: center;
	}
	&__header {
		color: rgba(124,8,20,1);
		margin-bottom: 20px;
	}
	&__art {
		font-size: 12px;
	}
	&__price {
		color: rgba(125,116,117,1);

		font-size: 20px;

		margin-bottom: 15px;
	}
	&__btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-55%, -50%);

		z-index: 3;
		visibility: hidden;

		&-1 {
			cursor: pointer;
			background: linear-gradient(to right bottom, rgba(124,8,20,1), rgba(188,20,37,1));
			color: #fff;

			outline: none;
			border: 1px solid rgba(182,35,60,1);
			border-radius: 5px;

			font: 12px Georgia, Arial, sans-serif;
			
			width: 100px;
			height: 30px;

			&:hover {
				color: rgba(40,3,7,1);
			}
		}
	}
	&__block {
		width: 100%;
		height: 100%;
		&-left {
			border-radius: 10px 0 0 10px;
			transform: translateX(-100%);
			background: rgba(0,0,0,.7);

			position: absolute;
			top: 0;
			left: 0;

			width: 50%;
			height: 100%;

			z-index: 2;	
			transition: .5s;		
		}
		&-right {
			border-radius: 0 10px 10px 0;
			transform: translateX(100%);
			background: rgba(0,0,0,.7);

			position: absolute;
			top: 0;
			left: 50%;

			width: 50%;
			height: 100%;

			z-index: 2;

			transition: .5s;
		}
	}
}