.content {
	
	width:80%;

	margin:auto;
	
	background: linear-gradient(to right bottom, rgba(201,188,160,1), #fff);
	border-top: 3px solid rgba(235,231,221,1);
	border-bottom: 3px solid rgba(235,231,221,1);
}

.svg-triangle {

	width: 20px;
	height: 20px;

	position: absolute;
	top: 50%;
	left: -20px;
	margin-top: -15px;

	polygon {
		fill: rgba(174,141,61,1);
	}

	@include laptop {
		left: 30px;
	}
}
.sidebar {
	width: 20%;
	float: left;

	@include laptop {
		width: 100%;
	}
}

.menu {
	width: 100%;
	&__categories {
		margin-top: 30px;
		
		@include laptop {
			display: none;
		}

		&-img {
			@include desktop {
				max-width: 230px;
			}
		}
	}
	&__list {
		width: 100%;
		list-style: none;

		margin: 50px 0 0 50px;
		
		@include desktop {
			margin-left: 20px;
		}
		
		@include laptop {
			margin: 0;
			padding: 10px 0 0;

			border-bottom: 1px solid rgba(0,0,0,.5);
			box-shadow: 1px 1px 1px 1px #5b564d;
			background: #b7ad98;
		}
		&_popular {
			@extend .menu__list;
			margin-left: 30px;

			@include desktop {
				margin-left: 10px;
			}

			@include laptop {
				display: none;
			}
		}
	}

	&__item {
		position: relative;

		@include box;

		padding: 0 0 20px;

		transition: .5s;
		
		@include laptop {
			display: inline-block;
			width: 32%;

			text-align: center;
		}

		&:hover .menu__link {
			color: rgba(222,27,42,1); 
		}
		&:hover {
			transform: translate(15px, 0);
		}
	}

	&__link {
		text-decoration: none;
		color: rgba(40,3,7,1);
		font: 14px Georgia, Arial, sans-serif;

		@include desktop {
			font-size: 13px;
		}

		@include laptop {
			font-size: 14px;
		}
	}
}

.main {
	float: right;
	width: 75%;

	position: relative;

	@include screen {
		margin-left: 40px;

		width: 72%;
	}

	@include laptop {
		width: 100%;

		margin-left: 0;
	}

	&__header {
		margin: 30px 0 0 35px;

		&-top {
			color: #947D5C;
			font-style: italic;

			@include laptop {
				font-height: 22px;
			}
		}
	}
	&__container {

		position: absolute;
		top: 150px;
		left: 0;

		width:100%;

		display: flex;

		flex-flow: row wrap;
		justify-content: center;

		visibility: hidden;
	}
}

/* Переключение вкладок */
.activeSection{
  visibility: visible;
}
.activeItem{
   transform: translate(15px, 0);
}
.activeLink{
  color: rgba(222,27,42,1); 
}
/* Переключение вкладок */

#new__card {
	@include laptop {
		display: none;
	}
}