.card {
	&_contacts {
		width: 90%;
		margin: 10px auto;

		@include box;
		padding: 10px;

		box-shadow: 1px 2px 2px 2px #989696;
		background: #fff;
		border-radius: 10px;

		display: flex;
	}
	
	&__pic-img_contacts {
		margin-bottom: 50px;
	}
	&__info_contacts {
		flex: 1 3 auto;

		display: flex;
		flex-flow: column;

		justify-content: center;
		margin-right: 20px;
	}
	&__header_contacts {
		margin-bottom: 10px;
	}
	&__adress {
		margin-bottom: 60px;
	}

	&__map {
		width: 100%;

		flex: 1 3 auto;
	}
	
	&__form {

		&-container {
			width: 95%;
			margin: auto;
		}
		&-header {
			font: 16px/24px Georgia, sans-serif;

			margin-bottom: 20px;
		}

		&-label {
			font: 12px/24px Georgia, sans-serif;
			font-weight: bold;

			margin-bottom: 10px;
		}
		&-input {
			width: 100%;

			border-radius: 10px;
			border: 1px solid #989696;
					
			font: 14px/24px Georgia, sans-serif;

			padding: 5px;
			margin-bottom: 20px;
		}
		&-textarea {
			width: 100%;
			height: 150px;

			resize: none;
			border-radius: 10px;
			border: 1px solid #989696;

			margin-bottom: 30px;
		}
	}
}