.content {
	
	width:80%;
	margin:auto;
	
	background: #F9F8EE;
	border-top: 3px solid rgba(235,231,221,1);
	border-bottom: 3px solid rgba(235,231,221,1);
	
	@include phones {
		width: 100%;
	}
	
	&__info {
		@include box;
		padding: 0 20px;

		margin-top: 20px;
	}
}

.svg-triangle {

	width: 20px;
	height: 20px;

	position: absolute;
	top: 50%;
	left: -20px;
	margin-top: -15px;

	polygon {
		fill: rgba(174,141,61,1);
	}

	@include laptop {
		display: none;
	}
}
.sidebar {
	width: 22%;
	float: left;

	@include laptop {
		width: 100%;
	}
}

.menu {
	width: 100%;
	&__categories {
		margin-top: 30px;
		
		@include laptop {
			display: none;
		}

		&-img {
			@include desktop {
				max-width: 230px;
			}
		}
	}
	&__list {
		width: 100%;
		list-style: none;

		margin: 30px 0 0 50px;
		
		@include desktop {
			margin-left: 20px;
		}
		
		@include laptop {
			margin: 0;
			padding: 0;

			border-bottom: 1px solid rgba(0,0,0,.5);
			box-shadow: 0 1px 1px 1px #5b564d;
		}
		&_popular {
			@extend .menu__list;
			margin-left: 30px;

			@include desktop {
				margin-left: 10px;
			}

			@include laptop {
				display: none;
			}
		}
	}

	&__item {
		position: relative;

		@include box;

		padding: 10px 0;

		transition: .5s;
		
		@include laptop {
			display: inline-block;
			width: 49%;

			text-align: center;

			&:first-child {
				border-right: 1px solid #5b564d;
			}
		}
		&:hover .menu__link {
			color: rgba(222,27,42,1); 
		}
		&:hover {
			transform: translate(15px, 0);

			@include laptop {
				transform: translate(0,0);
			}
		}
	}

	&__link {
		text-decoration: none;
		color: rgba(40,3,7,1);
		font: 14px 'Open Sans', Arial, sans-serif;

		@include desktop {
			font-size: 13px;
		}

		@include laptop {
			font-size: 14px;
		}
		@include tablets {
			font-size: 12px;	
		}
	}
}

.main {
	float: right;
	width: 75%;

	@include screen {
		margin-left: 40px;

		width: 72%;
	}

	@include laptop {
		width: 100%;

		margin-left: 0;
	}

	&__header {
		margin: 30px 0 0 35px;
		
		@include box;
		padding: 0 10px;
		
		&-top {
			color: #947D5C;
			font-style: italic;

			@include laptop {
				font-height: 22px;
			}
		}
	}
	&__container {

		width:100%;

		display: flex;

		flex-flow: row wrap;
		justify-content: center;

		margin-bottom: 30px;

		&-btn {
			display: block;
			width: 100%;
			
			.card__btn-2 {
				@extend .card__btn-1;
				margin: auto;
			}
		}
	}
	
	&__filter {
		margin: 10px 35px;
		&-select, &-input {
			width: 45%;
			padding: 5px;

			border-radius: 10px;

			border: none;
			border: 1px solid #9f9f9f;

			font-size: 12px;  
		}
		&-select {
			float: right;
		}
	}
}

/* Переключение вкладок */
.activeSection{
  display: flex;
}
.activeItem{
   transform: translate(15px, 0);

   @include laptop {
   	transform: translate(0,0);
   }
}
.activeLink{
  color: rgba(222,27,42,1); 
}
/* Переключение вкладок */

#new__card {
	@include laptop {
		display: none;
	}
}

#section2, .section2 {
	width: 100%;

	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	display: none;
}

.showItems {
	display: flex;
}
.hideItems{
	display: none;
}