.footer {
	width: 80%;
	height: 200px;
	margin:auto;

	background: linear-gradient(to right bottom, rgba(124,8,20,1), rgba(188,20,37,1));
	border: 1px solid rgba(124,8,20,1);
	
	@include tablets {
		height: 170px;
	}	
	@include phones {
		width: 100%;
	}

	&__list {
		width: 90%;
		margin: 10px auto 0;
		padding: 0;

		@include phones {
			margin-top: 5px;
		}
	}
	
	&__item {
		width: 32%;

		display: inline-block;

		vertical-align: top;
		
		@include box;
		
		padding-left: 50px;

		@include laptop {
			padding-left: 20px;
		}

		&-header {
			font: 14px 'Open Sans', Arial, sans-serif;
			color: rgba(40,3,7,1);

			text-transform: uppercase;

			@include desktop {
				font-size: 12px;
			}

			@include tablets {
				font-size: 10px;
			}
		}
	}
	
	&__list-inner {
		margin: 10px 0 0 0;
		padding: 0;

		list-style: none;
		
		@include phones {
			margin-top: 10px;
		}
		&-item {
			font: 12px 'Open Sans', Arial, sans-serif;

			transition: .5s;

			padding-bottom: 5px;

			&:hover .footer__list-inner-link {
				color: rgba(222,27,42,1); 
			}
			&:hover {
				transform: translate(15px, 0);
			}

			@include tablets {
				font: 10px 'Open Sans', Arial, sans-serif;
			}

		}
		
		&-link {
			color: #fff;
			text-decoration: none;
		}
	}

	&__sign {
		font: 14px 'Open Sans', Arial, sans-serif;
		color: rgba(222,27,42,1); 

		text-align: right;

		margin: 5px 50px 0 0;

		@include tablets {
			font: 12px 'Open Sans', Arial, sans-serif;
		}
	}
}