@import 'mixins';

.bg {
  width: 100%;
  
  background: url(../img/bg.jpg);
  background-size: cover;
}
.logo {

  width: 150px;
  height: 50px; 
  
  display: inline-block;

  background: url(../img/logo.png) no-repeat top center;
  background-size: cover;

  @include desktop {
    width: 40%;
  }

  @include laptop {
    width: 50%;
  }

  @include tablets {
    float: none;
    width: 100%;
  } 
}
.header {
  width: 80%;
  height: 250px;

  background: linear-gradient(to right bottom, rgba(124,8,20,1), rgba(188,20,37,1));
  border: 1px solid rgba(0,0,0,0);
  margin: auto;

  @include box;
  
  @include desktop {
    height: 270px;
  }
  @include laptop {
    height: 250px;
  }

  @include tablets {
    height: 310px;
  }

  @include phones {
    height: 330px;

    width: 100%;
  }
  
  &__upper {
    padding: 20px;
  }
  
  &__top-menu {
    float: right; 
    width: 80%;

    @include desktop {
      float: none;

      display: block;
      width: 100%;

      text-align: center;

    }

    &-list {
      padding: 0;
      margin: 0;
    }
    
    &-item {
       font: 10px 'Open Sans', Arial, sans-serif;

       display: inline-block;

       position: relative;
       
       @include box;
       margin-left: 35px;
       padding: 0;
       
       @include laptop {
          font-size: 9px;
       }

       @include tablets {
        margin-left: 30px;
       }

       @include phones {
        margin-left: 20px;
       }
       &:hover .header__top-menu-link {
        color: #35230f; 
       }

       &:first-child {
        margin-left: 0;
       } 

       &:before {
        content: '';
        
        width: 3px;
        height: 3px;
        border: 1px solid #35230f;
        background: #35230f;
        
        position: absolute;
        top: 50%;
        left: -10px;
        margin-top: -3px;
       }
    }
    
    &-link {
      text-transform: uppercase;
      text-decoration: none;

      color: rgba(222,27,42,1);
    }
  }
  
  &__text {
    text-transform: uppercase;
    color: #E0DFDC;
    font: 13px/24px 'Open Sans', sans-serif;
    
    text-shadow: 0 3px #2e2e2e,
                 0 4px #2a2a2a,
                 0 5px 0 #262626;

    span {
      font-size: 30px;

      @include screen {
        font-size: 30px;
      }

      @include laptop {
        font-size: 30px;
      }

      @include tablets {
        font-size: 32px;
      }

      @include phones {
        font-size: 24px;
      }
    }

    @include screen {
      font-size: 11px;
    }

    @include desktop {
      margin-top: 10px;
    }

    @include laptop {
      margin-top: 5px;
      font-size: 10px;
    }
    @include tablets {
      font-size: 11px;
    }
    @include phones {
      font-size: 9px;
    }
  }
  &__menu {
    
    width: 100%;
    height: 100%;

    background: linear-gradient(to top, rgba(124,8,20,1), rgba(188,20,37,1));

    box-shadow: inset 0px 0px 2px 1px rgba(255,255,255,0.18);
    border-radius: 10px;
    
    &-wrapper {
      width: 85%;
      height: 80px;

      margin: 20px auto 0;
      border-radius: 10px;
      box-shadow: 1px 2px 2px 2px rgba(31,2,2,1);

      @include laptop {
        height: 60px;        
      }

      @include tablets {
        height: 40px;
      }
    }
    
    &-list {
      padding: 0;
      margin: 0;
    }
    &-item {
      display: inline-block;
      width: 16%;

      border-right:1px solid rgba(182,35,60,1); 

      text-align:center;
      
      font: 17px/80px 'Open Sans', Arial, sans-serif;

      cursor: pointer;
      
      @include desktop {
        font-size: 15px;
         width: 15.5%;
      }

      @include laptop {
        font: 12px/60px 'Open Sans', Arial, sans-serif;
      }
      
      @include tablets {
        font: 8px/40px 'Open Sans', Arial, sans-serif;
        width: 15%; 
      }

      @include phones {
        font: 7px/40px 'Open Sans', Arial, sans-serif;

       // width: 18%;
      }
      &:last-child {
        border-right: none;
      }

      &:hover .header__menu-link {
         color: rgba(68,7,22,1);
      }

    }

    &-link {
      display: block;
      
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
    }
  }
}

/* Стрелка вверх */
.arrow {
  position: absolute;

  bottom: 3%;
  right: 3%;
  
  @include screen {
    right: 1%;
  }

  @include laptop {
    right: 0.5%;
  }

  @include tablets {
    transform: scale(0.7);

    right: -15px;
  }

  @include phones {
    right: -25px;
  }
  width: 70px;
  height: 40px;
  z-index: 6;

  position: fixed; 
  cursor: pointer;

  transition: .5s;
  
  &:hover {
    transform: translateY(-10px) scale(0.7);
  }
  &:hover .arrow__svg-line{
    stroke: #878787;
  }

  display: none;
}
/* Стрелка вверх */

/* Позвонить */
.call {
  
  position: fixed;

  right: 2%;
  top: 50%;

  transform: translateY(-50%);

  border: 1px solid rgba(252,252,252,0);

  width: 67px;
  height: 67px;

  cursor: pointer;

  &-1 {

    border: 1px solid rgba(252,252,252,0.1);
    background: rgba(252,252,252,0.2);

    width: 67px;
    height: 67px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .5s;

    @include laptop {
     width: 57px;
     height: 57px;
    }

    @include tablets {
       width: 42px;
       height: 42px;
    }
  }

  @include laptop {
     width: 57px;
     height: 57px;

     right: 1.5%;
  }

  @include tablets {
     width: 42px;
     height: 42px;

     right: 1%;
  }
  
  &__mess {
    width: 120px;
    
    visibility: hidden;
    
    transition: .5s;

    @include box;
    padding: 10px;

    background: #fff;
    border: 1px solid #7c7979;
    border-radius: 10px;

    position: relative;
    top: 10px;
    right: 30px;

    z-index: 15;

    @include laptop {
      width: 100px;
    }

    @include tablets {
      right: 70px;
    }

    &-text {
      font: 14px/22px 'Open Sans', sans-serif;
      color: rgba(40,3,7,1);

      @include laptop {
        font-size: 10px;
      }
     }
  }

  &:hover .call-1{
    background: rgba(252,252,252,0.5);
  }

  &:hover .call__wrapper{
    background: rgba(252,252,252,0.7);
  }

  &:hover .call__mess{
    visibility: visible;
  }

  &__wrapper {
    background: rgba(252,252,252,0.5);

    width: 52px;
    height: 52px;

    border-radius: 50%;

    @include tablets {
       width: 37px;
       height: 37px;
    }
  }

  &__img {
    width: 50px;

    @include tablets {
      width: 35px;
    }
  }
}

#call {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  position: fixed;

  background: rgba(0,0,0,0.7);

  z-index: 10;

  display: none;
}

.call {
  &__form {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 40%;
    background: #fff;

    @include box;

    padding: 10px;

    border-radius: 10px;
  }

  &__close {
    position: absolute;
    right: 50px;
    top: 50px;
    
    width: 30px;
    height: 30px;
    cursor: pointer;
    
    &:hover .call__close-1, &:hover span {
      background: #f9e4e4;
    }

    &-1 {
      position: absolute;
      top: 0;
      left:0;

      width: 100%;
      height: 2px;
      border: 1px solid #dbd7d7;
      background: #dbd7d7;
      border-radius: 25%;

      transform: rotate(45deg);
    }
    span {
      display: block;

      width: 100%;
      height: 2px;
      border: 1px solid #dbd7d7;
      background: #dbd7d7;
      border-radius: 25%;

      transform: rotate(-45deg);
    }
  }

  &__input {
    display: block;

    width: 100%;

    @include box;

    padding: 10px;

    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.7);

  }
}
/* Позвонить */