@import 'mixins';

.bg {
  width: 100%;
  
  background: url(../img/bg.jpg);
  background-size: cover;
}

.header {
  width: 80%;
  height: 270px;

  background: linear-gradient(to right bottom, rgba(124,8,20,1), rgba(188,20,37,1));
  border: 1px solid rgba(0,0,0,0);
  margin: auto;

  @include box;
  &__top {
    width: 70%;
    float: right;
  }

  /* Социальные иконки */
  &__socials {
    display: inline-block;

    &-item {
      display: inline-block;

      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }

      &:hover .header__socials-link {
        color: rgba(222,27,42,1);
      }
    }
    
    &-link {
      color: #fff;
      font-size: 18px;

    }
  }
  /* Социальные иконки */
  &__top-menu {
    display: inline-block;

    margin-left: 100px;
    &-item {
       font: 10px Georgia, Arial, sans-serif;

       display: inline-block;

       position: relative;

       @include box;
       margin-left: 35px;
       padding: 0;

       &:hover .header__top-menu-link {
        color: #35230f; 
       }

       &:first-child {
        margin-left: 0;
       } 

       &:before {
        content: '';
        
        width: 3px;
        height: 3px;
        border: 1px solid #35230f;
        background: #35230f;
        
        position: absolute;
        top: 50%;
        left: -10px;
        margin-top: -3px;
       }
    }
    &-link {
      text-transform: uppercase;
      text-decoration: none;

      color: rgba(222,27,42,1);
    }
  }
  &__text {
    position: absolute;
    
    margin: -70px 0 0 200px;
    
    text-transform: uppercase;
    color: #e0dfdc;
    font: 13px/24px Georgia;
    
    text-shadow: 0 3px #2e2e2e,
                 0 4px #2a2a2a,
                 0 5px 0 #262626;

    span {
      font-size: 56px;
    }
  }
  &__menu {
    
    width: 100%;
    height: 100%;

    background: linear-gradient(to top, rgba(124,8,20,1), rgba(188,20,37,1));

    box-shadow: inset 0px 0px 2px 1px rgba(255,255,255,0.18);
    border-radius: 10px;
    
    &-wrapper {
      width: 80%;
      height: 80px;

      margin: -20px auto 0;

      border-radius: 10px;
      box-shadow: 3px 10px 10px 10px rgba(31,2,2,1);
    }
    
    
    &-item {
      display: inline-block;
      width: 12%;

      border-right:1px solid rgba(182,35,60,1); 

      text-align:center;

      font: 12px/80px Georgia, Arial, sans-serif;

      cursor: pointer;

      &:last-child {
        border-right: none;
      }

      &:hover .header__menu-link {
         color: rgba(68,7,22,1);
      }

    }

    &-link {
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
    }
  }
  &__search {
      @include box;

      width: 210px;
      height: 40px;
      margin: 0 30px;
      padding: 0 10px;

      border-radius: 10px;
      background: linear-gradient(to bottom, #35230f, #62050f);
      outline: none;
      border: none;   
  }

  &__run {

    margin-top: 20px;

    &-line {
      
      color: #fff;
      font: 20px Georgia, Arial, sans-serif;
    }
  }
}