.news {
	&__wrapper {

		width: 90%;

		margin: 0 auto 15px;

		@include box;

		padding: 20px;

		background: #fff;

		border-radius: 10px;

		position: relative;
	}
	&__header {
		font: 22px/30px 'Open Sans', sans-serif;
		color: rgba(222,27,42,1);

		text-align: center; 

		margin-bottom: 20px;

		&-2 {
			font: 18px/30px 'Open Sans', sans-serif;
			color: rgba(222,27,42,1);

			margin-bottom: 20px;
		}
	}

	&__text {
		font: 14px/22px 'Open Sans', sans-serif;
		color: rgba(40,3,7,1);

		margin-bottom: 20px;
	}
	
	&__item {

		font: 14px/22px 'Open Sans', sans-serif;
		color: rgba(40,3,7,1);

		font-weight: bold;
	}
	&__img {
		max-width: 100%;

		&-wrapper {
			width: 40%;

		}
	}

	&__btn-1 {
		position: absolute;

		bottom: 20px;
		right: 20px;
	}
}
.menu__news {
	width: 100%;

	margin-top: 30px;

	@include laptop {
		display: none;
	}

	&-wrapper {

		@include box;

		padding: 0 20px 10px;
	}
	
	&-article {
		margin-top: 30px;
	}

	&-header {
		font: 18px/22px 'Open Sans', sans-serif;
		color: rgba(222,27,42,1);

		text-align: center; 

		margin-bottom: 20px;
	}

	&-text {
		font: 12px/20px 'Open Sans', sans-serif;
		color: rgba(40,3,7,1);

		margin-bottom: 20px;
	}

	&-img {
		max-width: 100%;

		margin-bottom: 20px;
	}
	&-line {
		width: 90%;
		margin: auto;

		height: 0.1px;
		border: 0.1px solid rgba(124,8,20,1);
		border-radius: 5px;

		background: rgba(124,8,20,1);

		margin-top: 20px;
	}


}