.card__wrapper_price {
	display: flex;

	flex-flow: row wrap;

	justify-content: center;
}

.card__img-wrapper_price {
	width: 150px;
	height: 150px;

	margin: 20px;

	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 50%;
	border: 3px solid #ECE8DE;
	background: #fff;
	box-shadow: 2px 2px 2px #42413f;

	@include laptop {
		width: 100px;
		height: 100px;
	}

	@include phones {
		width: 70px;
		height: 70px;

		margin: 10px;
	}
}
.card__img_price {
	//width: 130px;
	
	@include laptop {
		width: 90px;
	}

	@include laptop {
		width: 60px;
	}
}