.card {
	&_present {
		width: 90%;
		margin: 10px auto;

		@include box;
		padding: 10px;

		box-shadow: 1px 2px 2px 2px #989696;
		background: #fff;
		border-radius: 10px;
	}

	/* Шапка карточки */
	&__upper {
		width: 100%;

		margin-bottom: 30px;
	}
	&__pic_present {
		width: 50%;
		
		border: 5px solid #ECE8DE;
		border-radius: 10px;
		box-shadow: 2px 2px 2px #42413f;

		display: flex;

		justify-content: center;
		align-items: center;	

		float: left;
	}

	&__pic-img_present {
		max-width: 100%;
	}

	&__info_present {
		width: 45%;
		float: right;

		@include box;
		padding: 15px;
	}

	&__header_present {
		font: 24px/32px Georgia;
		color: #927D5C;

		margin-bottom: 30px;
	}
	
	&__table {
		td {
			@include box;
			padding: 10px;

			font: 14px Georgia;

			span {
				font-size: 32px;
			}
		}
	}

	&__row {
		background: #F4F4F4;
	}
	/* Шапка карточки */

	/* Основная часть */
	&__menu {
		width: 100%;
		background: #ECE8DE;
		
		margin-bottom: 30px;

		&-list {
			padding: 0;
			margin: 0;
		}
		&-item {
			display: inline-block;
			
			@include box;
			padding: 5px 20px;
			border-right: 1px solid #fff;
			
			&:nth-child(2) {
				margin-left: -5px;
			}

			&:hover .card__menu-link {
				color: #35230F;
			}
		}
		&-link {

			display: block;
			width: 100%;
			height: 100%;

			font: 16px/24px Georgia;
			color: #737373;

			text-decoration: none;
		}
	}

	&__text_present {
			color: #35230F;
			font: 14px/22px Georgia, sans-serif;
		}
	&__main {
		position: relative;

		height: 900px;
	
		&-inner {
			position: absolute;
			top: 0;
			left: 0;

			visibility: hidden;
		}
		&-header {
			color: #35230F;
			font: 12px/22px Georgia, sans-serif;
		}
		
		&-img {
			width: 130px;
		}

		th {
			font: 12px/16px Georgia;
			
			text-transform: uppercase;
			background: #ECE8DE;
		}
		
		th, td {
			color: #613C32;
			font: 12px/16px Georgia;
			
			text-align: center;
			@include box;
			padding: 5px;
		}
		&-td-header {
			text-align: left;

			font: 12px/16px Georgia;
			margin-bottom: 10px;
		}
		&-td-info {
			text-align: left;

			font: 10px/16px Georgia;
		}
	}
	/* Основная часть */
}

/* Переключение вкладок */
.activeAdminSection{
	background: rgba(255, 255, 255, 0.5);
	visibility: visible;
}
.activeAdminItem{
	background:#ffffff;	
}
.activeAdminLink{
	color:#00bfa5;
}
/* Переключение вкладок */