.card {
	&_present {
		width: 90%;
		margin: 10px auto;

		@include box;
		padding: 10px;

		box-shadow: 1px 2px 2px 2px #989696;
		background: #fff;
		border-radius: 10px;
	}

	/* Шапка карточки */
	&__upper {
		width: 100%;

		margin-bottom: 30px;
	}
	&__pic_present {
		width: 50%;
		
		border: 5px solid #ECE8DE;
		border-radius: 10px;
		box-shadow: 2px 2px 2px #42413f;

		display: flex;

		justify-content: center;
		align-items: center;	

		float: left;

		position: relative;

		cursor: pointer;
		overflow: hidden;

		&:before {
			content: '';
			border-radius: 10px 0 0 10px;
			transform: translateX(-100%);
			background: rgba(0,0,0,.5);

			position: absolute;
			top: 0;
			left: 0;

			width: 50%;
			height: 100%;

			z-index: 2;	
			transition: .5s;	
		}

		&:after {
			content: '';
			border-radius: 0 10px 10px 0;
			transform: translateX(100%);
			background: rgba(0,0,0,.5);

			position: absolute;
			top: 0;
			left: 50%;

			width: 50%;
			height: 100%;

			z-index: 2;

			transition: .5s;
		}

		&:hover.card__pic_present:before {
			transform: translateX(0);
		}

		&:hover.card__pic_present:after {
			transform: translateX(0);
		}

		&:hover .card__btn_present {
			visibility: visible;
		}
	}

	&__pic-img_present {
		max-width: 100%;		
	}
	&__btn_present {
		position: absolute;
		top: 50%;
		left: 50%;

		transform: translate(-50%, -50%);

		cursor: pointer;
		z-index: 3;

		visibility: hidden;
	}

	&__btn-img {
		@include desktop {
			width: 40px;
		}
	}

	&__info_present {
		width: 45%;
		float: right;

		@include box;
		padding: 15px;

		@include tablets {
			padding: 5px;
		}

		@include phones {
			padding: 3px;
		}
	}

	&__header_present {
		font: 24px/32px 'Open Sans';
		color: #927D5C;

		margin-bottom: 30px;

		@include desktop {
			margin-bottom: 20px;

			font-size: 20px;
		}

		@include tablets {
			margin-bottom: 10px;

			font-size: 16px;
		}

		@include phones {
			margin-bottom: 5px;

			font-size: 14px;
		}
	}
	
	&__table {
		td {
			@include box;
			padding: 10px;

			font: 14px 'Open Sans';
			
			@include desktop {
				padding: 5px;

				font-size: 13px;
			}

			@include tablets {
				padding: 2px;

				font-size: 10px;
			}

			@include phones {
				padding: 1px;
				font-size: 8px;
			}
			span {
				font-size: 32px;

				@include screen {
					font-size: 28px;
				}

				@include desktop {
					font-size: 22px;
				}

				@include tablets {
					font-size: 16px;
				}

				@include phones {
					font-size: 12px;
				} 
			}
		}
	}

	&__row {
		background: #F4F4F4;
	}
	/* Шапка карточки */

	/* Основная часть */
	&__menu {
		width: 100%;
		background: #ECE8DE;
		
		margin-bottom: 10px;

		&-list {
			padding: 0;
			margin: 0;
		}
		&-item {
			display: inline-block;
			
			@include box;
			padding: 5px 20px;
			border-right: 1px solid #fff;
			
			&:nth-child(2) {
				margin-left: -5px;
			}

			&:hover .card__menu-link {
				color: #35230F;
			}
		}
		&-link {

			display: block;
			width: 100%;
			height: 100%;

			font: 16px/24px 'Open Sans';
			color: #737373;

			text-decoration: none;
		}
	}

	&__text_present {
			color: #35230F;
			font: 14px/22px 'Open Sans', sans-serif;

			@include tablets {
				font-size: 11px;
			}
		}
	&__main {
		position: relative;

		&-inner {
			position: absolute;
			top: 0;
			left: 0;
			
			width: 100%;
			display: none;
		}
		&-table {
			width: 100%;
		}

		&-header {
			color: #35230F;
			font: 12px/22px 'Open Sans', sans-serif;
		}
		
		&-img {
			width: 100px;

			@include tablets {
				width: 70px;
			}
		}

		th {
			font: 12px/16px 'Open Sans';
			
			text-transform: uppercase;
			background: #ECE8DE;
			color: #613C32;
			
			text-align: center;
			@include box;
			padding: 5px;
			
			@include desktop {
				font-size: 10px;
			}

			@include tablets {
				font-size: 8px;
			}

			@include phones {
				font-size: 6px;
			}
		}
		
		td {
			color: #613C32;
			font: 12px/16px 'Open Sans';
			
			text-align: center;
			@include box;
			padding: 5px;

			@include phones {
				padding: 2px;
				font-size: 10px;
			}
		}
		&-td-header {
			text-align: left;

			font: 12px/16px 'Open Sans';
			margin-bottom: 10px;

			@include phones {
				font-size: 10px;
				margin-bottom: 5px;
			}
		}
		&-td-info {
			text-align: left;

			font: 10px/16px 'Open Sans';

			@include phones {
				font-size: 8px;
			}
		}
	}
	/* Основная часть */
}

/* Переключение вкладок */
.activeAdminSection{
	background: rgba(255, 255, 255, 0.5);
	
	display: block;
}
.activeAdminItem{
	background:#ffffff;	
}
.activeAdminLink{
	color:#00bfa5;
}
/* Переключение вкладок */

/* Увеличенные конфеты */
.candy {
	position: relative;

	cursor: pointer;
	
	&:hover .candy__show{
		opacity: 1;
	}

	&__show {
		position: absolute;

		top: 50%;
		left: 50%;

		opacity: 0;
		transition: .5s;

		border-radius: 10px;
		overflow: hidden;

		z-index: 3;

		&-img {
			width: 150px;
		}
	}
}
.increase__wrapper {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100vh;

	background: rgba(0,0,0,.5);

	position: fixed;

	z-index: 4;

	display: flex;
	align-items: center;
	justify-content: center;
}

.increase__inner {
	width: 500px;
	
	border-radius: 20px;
	border: 5px solid #ECE8DE;
	background: #fff;

	overflow: hidden; 

	@include tablets {
		width: 250px;
	}
}

.increase__img {
	max-width: 100%;
}
.increase__close {
	position: absolute;
	right: 50px;
	top: 50px;
	
	width: 30px;
	height: 30px;
	cursor: pointer;
	&:hover .increase__close-1, &:hover span {
		background: #f9e4e4;
	}

	&-1 {
		position: absolute;
		top: 0;
		left:0;

		width: 100%;
		height: 2px;
		border: 1px solid #dbd7d7;
		background: #dbd7d7;
		border-radius: 25%;

		transform: rotate(45deg);
	}
	span {
		display: block;

		width: 100%;
		height: 2px;
		border: 1px solid #dbd7d7;
		background: #dbd7d7;
		border-radius: 25%;

		transform: rotate(-45deg);
	}
}
/* Увеличенные конфеты */