.slider {
	width: 80%;
	

	background: linear-gradient(to right bottom, rgba(124,8,20,1), rgba(188,20,37,1));
	margin: auto;
	
	position: relative;
	overflow: hidden;
	
	@include phones {
		width: 100%;
	}
	&__left {
		width: 100%;
	}
	&__img {

		display: inline-block;
		position: relative;
		
		width: 100%;
		overflow: hidden;

		&-list {
			list-style: none;
		}

		&-item {
			position: absolute;
			top: 0;
			left: 0;

			opacity: 0;
		}
		&-img {
			max-width: 200%;
		}
	}
	&__text {
		display: inline-block;

		position: absolute;
		top: 30%;
		right: -100%;

		transition: .9s;

		&-img {
			max-width: 100%;
		}
	}
}
&.active {
     opacity: 1;
}
