.content#content__main.clearfix
	.sidebar
		block sidebar
			include ../common/_left_menu
		block popular
			include ../common/_popular
		block news
			include ../common/_news
	.main
		.main__up
			.main__up-header 
				a.main__up-link(href="#!/index") Главная
				| &raquo;
				span
					a.main__up-link(href="#!/about") О нас

		.main__header
			h1.main__header-top О нас
		.main__container
			.card_about
				.card__text-2 Новый год – это всегда радость, веселье и волшебство! Этот замечательный праздник ждут как дети, так и взрослые. Чтобы встретить его во всеоружии и достойно провести, нужно немало потрудиться и подготовиться должным образом – приобрести новогоднюю елку, соответственный праздничный декор, подготовить подарки для родных и близких.
				.card__text-2 Новогодние подарки – это не только дорогие аксессуары и нужные мелочи, это и сладкие новогодние подарки. Именно они помогут прочувствовать атмосферу праздника до конца и в полной мере насладиться торжеством!
				.card__text-2 Наша компания специализируется на реализации новогодних сладких подарков оптом и в розницу для детей и взрослых. Приобретая у нас большие партии товара, Вы получаете существенное преимущество в виде скидок и приятной ценовой политики. Мы всегда готовы существенно снизить цену нашим постоянным клиентам, а также оптовым покупателям сладких новогодних подарков для детей. 
				h3.card__text-3 Каждый подарок формируется с любовью и нежностью, в результате чего, клиенты всегда остаются довольными!
				.card__text-2 Сладкие новогодние подарки 2016 дарят множество положительных и незабываемых впечатлений малышам и взрослым. Покупая продукцию оптом, Вы сможете доставить приятные мгновения коллективу из любого количества людей разного возраста: детям в детских садах и школах, или взрослому коллективу Вашей компании.
				.card__text-2 Многие подарки из нашего ассортимента расфасованы в упаковки с изображением символа 2017 года – петуха. Вы можете заказать как классический вариант сладких новогодних подарков для детей, так и выбрать весьма оригинальный вариант, который порадует и удивит адресата. Для малышей товар собран таким образом, чтобы дети могли наслаждаться сладостями на протяжение всех новогодних праздников.
				.card__text-2 Сладкие подарки – это популярная и востребованная в нашей стране продукция. Упаковка, которая уже сама по себе напоминает о приближении Нового года и Рождества, выполнена в ярких цветах с веселыми персонажами, а сладкие конфеты внутри сертифицированы и произведены крупнейшими украинскими кондитерскими заводами.
				.card__text-2 Наша миссия – создать праздничную атмосферу и подарить массу незабываемых вкусовых ощущений! Для нас клиент всегда на первом месте!
				h3.card__text-3 Приобретая сладкие новогодние подарки оптом у нас, Вы делаете выгодную покупку, экономите материальные средства и получаете высококачественную продукцию с незабываемым вкусом!     
				a.card_about__link(href="catalog.html") Продолжить &gt;