.content#content__main.clearfix
	.sidebar
		block sidebar
			include ../common/_left_menu
		block popular
			include ../common/_popular
		block news
			include ../common/_news
	.main#shop
		.main__up
			.main__up-header 
				a.main__up-link(href="#!/index") Главная
				| &raquo;
				span
					a.main__up-link(href="#!/agreement") Магазин "Ласощи"

		.main__header
			h1.main__header-top Наш магазин - продажа кондитерских изделий
		.main__container
			.card_about
				.card__text-1 Наш магазин «Ласощи» уже более 5 лет успешно развивается на рынке кондитерских изделий. Мы занимаем существенную нишу в сегменте оптовых продаж, а также реализации продукции таких крупных отечественных производителей, как Рошен, Конти, АВК, Грона и других. Благодаря этому своим клиентам «Ласощи» предлагают богатый ассортимент различных видов конфет, печенье, мармелада, вафель, сладких новогодних подарков и прочих сладостей по приятным и актуальным ценам.
				h2.main__header-top Наш ассортимент
				.card__text-1 «Ласощи» постоянно активно развивается, обновляет ассортимент и следит за новинками кондитерских компаний. Наш ассортимент насчитывает более тысячи сортов кондитерских изделий, среди которых:
				.card_about__item -  
					span  мучные изделия (торты, кексы, печенье, пряники и т.д.);
				.card_about__item -  
					span  сахаристые изделия (шоколад, карамель, ирис, халва, конфеты и т.д.).
				.card__img-wrapper_agreement
					img.card__img_agreement(src="assets/img/candy1.jpg")
				h2.main__header-top Наши клиенты
				.card__text-1 Уже более 5 лет мы поставляем наши сладости в рестораны и кафе, образовательные учреждения, оптовые торговые точки и частным предпринимателям. За это время мы существенно расширили клиентскую базу и продолжаем успешно работать, радуя детей и взрослых сладкими подарками.
				.card__text-1 Мы ответственно подходим к реализации и доставке конфет и других сладостей, в результате чего компания приобрела репутацию надежного развивающегося поставщика кондитерских изделий Roshen, ABK, Konti. 
				h2.main__header-top Новогодние подарки 2017 оптом
				.card__text-1 Кроме реализации конфет, плиток шоколада, печенья и прочих сладостей, мы не перестаем радовать малышей и взрослых детскими новогодними подарками. Разнообразная упаковка и состав позволяют удовлетворить даже самого привередливого покупателя.
				.card__item_agreement Ждем вас в нашем гостеприимном магазине «Ласощи» по адресу:
				.card__item_agreement Житомирская область, Коростень, ул. Грушевского, 28. 	
				.card__map-1#map_canvas
				a.card_about__link(href="#!/catalog") Продолжить &gt;
