.content.clearfix#content__main(ng-controller="contentController as contentList")
	.sidebar
		block sidebar
			include ../common/_left_menu
		block new
			include ../common/_new
	.main#catalog-page
		.main__up
			.main__up-header 
				a.main__up-link(href="#!/index") Главная
				| &raquo;
				span
					a.main__up-link(href="#!/catalog") Каталог

		.main__header
			h1.main__header-top Наш каталог
		.main__filter
			input.main__filter-input(type="text" placeholder="Введите название" ng-model="contentList.query")
			select.main__filter-select(ng-model="contentList.orderProp")
				option(disabled) Отсортировать по
				option(value="weight") Вес подарков
				option(value="price") Стоимость
		.main__container#catalog-container
			h2.main__header-top Элитные подарки
			block card_catalog
				include ../common/_card_catalog
			.main__container-btn#showMore(ng-class="{'hideItems': contentList.toggle}")
				.card__btn-2
					a.card__btn-1-link(ng-click="contentList.chooseStandart($event)") Показать еще
			.section2(ng-class="{'showItems': contentList.toggle}")
				h2.main__header-top Стандартные подарки
				block card_catalog
					include ../common/_card_catalog2
			.content__info
				.card_about__text Сегодня сладкие новогодние подарки стали неотъемлемой частью Нового года. В каждой семье малыши ждут этот праздник в надежде получить долгожданный сюрприз от Дедушки Мороза и полакомиться полюбившимися сладостями от ведущих украинских кондитерских компаний. Так новогодние подарки рошен уже давно зарекомендовали себя на рынке, и не первый год радуют детей и взрослых по всей Украине.
				.card_about__text Ни один ребенок не представляет новогодние и рождественские праздники без сладких новогодних подарков. Вы можете купить изделия в специальной упаковке, разработанной для Нового Года или Рождества, бюджетные и элитные подарки с вкусными и ароматными конфетами. Большой ассортимент позволяет выбирать не только упаковку, но и наполнение. Это могут быть шоколадные и вафельные батончики, плитки шоколада, молочные коровки, ириски, желейные конфеты и многие другие. В любом случае сладкие новогодние подарки 2017 никого не оставят равнодушными!
				h2.main__header-top Как сладкие новогодние подарки купить оптом
				.card_about__text Позвонив по телефону +38097 067 1887, Вы можете сладкие новогодние подарки купить оптом, а также в розницу. Вам проконсультируют вежливые и приветливые менеджеры по поводу состава подарков, их стоимости, производителей и т.д. Вам также доступна возможность самостоятельно сформировать изделие, выбрав только самые любимые и вкусные конфеты, батончики и сладости.
				.card_about__text Если Вы хотите сладкие новогодние подарки купить, приложив при этом минимум усилий, и потратив всего несколько минут, Вы попали по адресу. Наши менеджеры соберут заказ и организуют доставку в течение суток после получения оплаты. Мы заинтересованы, чтобы наши сладкие коробочки как можно скорее оказались у Вас! 
				h2.main__header-top Наш ассортимент
				.card_about__text Мы работаем только с проверенными поставщиками и реализуем такие известные товары, как новогодние подарки рошен, милка, АВК, конти. Вам доступны более 300 видов всевозможных конфет, вафель, ириса, печенья в упаковке и восточных сладостей. Если Вы желаете сладкие новогодние подарки купить оптом для сотрудников своей компании или порадовать малышей в детском саду или школе, мы с радостью Вам в этом поможем!