.content.clearfix
	.sidebar
		block sidebar
			include ../common/_left_menu
		block new
			include ../common/_new
	.main#content__main
		.main__up
			.main__up-header 
				a.main__up-link(href="#!/index") Главная
				| &raquo;
				span
					a.main__up-link(href="#!/news_1") Новости

		.main__header
			h1.main__header-top Новости
		.main__container
			.news__wrapper
				.news__header Как выбрать качественные шоколадные конфеты
				.news__text Наверное, каждый, приходя в магазин, супермаркет или находясь на страницах интернет-магазина сладостей, задумывался, какие конфеты качественные, а какие – нет. И как выбрать именно качественный товар, который не навредил бы здоровью, при этом обладая превосходным вкусом. Как же это сделать?
				.news__header-2 Сроки годности
				.news__text Хотя конфеты не относятся к скоропортящимся продуктам, на их срок годности все-таки стоит обращать внимание. Наиболее вкусными и аппетитными являются естественно свежие конфеты. Для разных сладостей срок годности варьируется:
				ol.news__list 
					li.news__item «Птичье молоко» - 14 дней.
					li.news__item Мармелад и конфеты с мармеладом внутри – 1 месяц.
					li.news__item Шоколадные конфеты – 4 месяца.
				.news__text Часто на прилавках можно увидеть кондитерские изделия, срок годности которых составляет до 6 месяцев. Такие изделия, скорее всего, содержат консерванты, и об их натуральности нет смысла говорить. 
				.news__header-2 Начинка
				.news__text Начинка в шоколадных конфетах играет большую роль. Именно она придает особую пикантность и неповторимый вкус. Начинка должна быть однородной и составлять не менее 20% массы конфеты.
				.news__header-2 Упаковка
				.news__text Часто мы выбираем товар по упаковке. Однако упаковка не только должна привлекать внимание и побуждать сделать покупку, она должна содержать следующую информацию:
				ol.news__list 
					li.news__item Название кондитерской компании с адресом и телефонами, а также название конфет.
					li.news__item Дата изготовления, сроки и условия хранения. внутри – 1 месяц.
					li.news__item Состав и энергетическая ценность изделий.
					li.news__item ГОСТ, ТУ или стандарт, согласно которым выполнен товар.
				.news__text Если каких-либо данных не хватает, стоит задуматься. Возможно, производитель хочет утаить от покупателя важную информацию.
				.news__header-2 Состав
				.news__text В состав шоколадных кондитерских изделий обязательно входят какао масло, какао тертое, сахар, лецитин, орехи, ваниль. Таким должен быть состав идеального черного шоколада. Состав конфет с начинками более богатый, поскольку в них больше ингредиентов. Главное, избегать наличия трансжиров, которыми производители часто заменяют какао масло (самый дорогой ингредиент шоколада). Поэтому состав шоколадных сладостей нужно внимательно просматривать, чтобы купить именно качественный шоколад. 
				.news__text Верным признаком трансжиров является твердость шоколада и глухой звук при отламывании кусочка. Вкус также существенно отличается.
				.news__text Шоколадные конфеты должны иметь гладкую глянцевую поверхность. Если:
				ol.news__list 
					li.news__item Поверхность изделий матовая, в составе есть соя.
					li.news__item На конфетах заметны разводы и белый налет – при их хранении не соблюдался температурный режим.
				.news__text Берегите свое здоровье и делайте выбор осмысленно. Тогда ваш рацион будет не только вкусным и питательным, но и полезным!
				img.news__img(src='assets/img/choco.jpg')
			