.content#content__main.clearfix
	.sidebar
		block sidebar
			include ../common/_left_menu
		block popular
			include ../common/_popular
	.main
		.main__up
			.main__up-header 
				a.main__up-link(href="#!/index") Главная
				| &raquo;
				span
					a.main__up-link(href="#!/pay") Условия оплаты и доставки

		.main__header
			h2.main__header-top Оплата и доставка
		.main__container
			.card_about
				.card_about__text Заказать сладкие новогодние подарки можно по телефону +38(097)0671887. Мы поставляем вкусные сладости представителям малого и крупного бизнеса, а также частным лицам. Для оптовых покупателей сумма минимального заказа составляет 400 грн. Постоянным клиентам мы всегда делаем скидки. Также в зависимости от суммы заказа скидка отдельно оговаривается. 
				.card_about__text Оплата осуществляется перечисленными ниже способами, а также наличными при самовывозе. 

				.card__item_agreement Оплатить товар можно следующими способами: 
				.card__wrapper_price.clearfix
					.card__img-wrapper_price
						img.card__img_price(src='assets/img/17.png')
					.card__img-wrapper_price
						img.card__img_price(src='assets/img/18.png')
					.card__img-wrapper_price
						img.card__img_price(src='assets/img/19.png')
				
				.card_about__text Мы осуществляем доставку транспортными компаниями по всей территории Украины. Также возможен самовывоз. Отправка товара происходит в день оплаты, если оплата была осуществлена до 15.00, или на следующий день. Сладкие новогодние подарки упаковываются в специальную тару и доставляются клиенту максимально быстро. 
				.card__item_agreement Доставка товара осуществляется следующими способами: 
				.card__wrapper_price.clearfix
					.card__img-wrapper_price
						img.card__img_price(src='assets/img/20.png')
					.card__img-wrapper_price
						img.card__img_price(src='assets/img/21.png')
					.card__img-wrapper_price
						img.card__img_price(src='assets/img/22.png')
					.card__img-wrapper_price
						img.card__img_price(src='assets/img/23.png')
				a.card_about__link(href="#!/catalog") Продолжить &gt;